[2021-09-28 15:37] fedekunze opened #3 "Add Github Actions"
Port relevant GitHub actions from Ethermint

[2021-09-28 15:39] fedekunze opened #4 "Update README"
Migrate README from Ethermint

[2021-09-29 09:48] #3 closed

[2021-09-30 09:13] fedekunze commented on #4
closed via #12

[2021-09-30 09:13] #4 closed

[2021-10-13 11:08] cocoyes opened #48 "localhost node start error"
Hi,
i want to start a local node,
when i  run create-validator cmd:
`evmosd tx staking create-validator \
  --amount=1000000000000aphoton \
  --pubkey=$(evmosd tendermint show-validator) \
  --moniker="localtestnet" \
  --chain-id=evmos_9000-1 \
  --commission-rate="0.10" \
  --commission-max-rate="0.20" \
  --commission-max-change-rate="0.01" \
  --min-self-delegation="1000000" \
  --gas="auto" \

[2021-10-15 20:36] rubycop opened #52 "Faucet doesn't work on faucet.evmos.org"
__System info:__ [Include Ethermint commit, operating system name, and other relevant details]

__Steps to reproduce:__

1. goto main page https://faucet.evmos.org/
2. fill in address
3. click on "request funds"

__Expected behavior:__ [What you expected to happen]

__Actual behavior:__ Server responds 502

__Additional info:__ [Include gist of relevant config, logs, etc.]
<img width="1400" alt="S

[2021-10-18 08:47] arno01 opened #53 "[Ledger Nano X] failed to generate ledger key"
## Issue

[code]

## Ledger Cosmos app

[code]

## evmosd version

[code]

[2021-10-18 12:33] #52 closed, assigned to nobody

[2021-10-26 13:32] zmanian opened #67 "Create an IBC application protocol for EVM TXs over IBC"
Proposal: Send an EVM transaction over IBC

It would enable use cases like Sommelier to integrate with Evmos.

The only real requirement is to have Ethereum addresses that correspond to each IBC channel and msg.sender on the tx be the address for the channel.

[2021-10-27 16:44] fedekunze opened #71 "`evmosd version` always returns the latest version"
Install `main` branch or other version tag
Run `evmosd version`

[2021-10-28 08:47] wzj42685 opened #72 "something request about deploy contract"
I was run the node in my localnet  but now I want to deploying a smart contract,I dont knwo how to get any ETH in my localnet ,so
please tell me what should i do.

[2021-10-28 23:51] odeke-em opened #73 "app: implement QPS/TPS (Transactions Per Second) reporting"
Requested offline by @fedekunze, this issue is for me to add code that reports transactions per second. I am on a flight but I've written the code for fast counters. Filing this issue for when I finally get to my destination hours away.

[2021-11-03 20:15] pesi89757 opened #77 "panic: can't get node 11F028EE5BB0766FF7E771A3C5F72609FE843E29F7490438CDBFB16C52118079: leveldb/table: corruption on table-footer (pos=2107836): bad magic number [file=1912454.ldb]"
Can't sync node when using v0.1.3
![image](https://user-images.githubusercontent.com/93071709/140185811-05a9a550-0ee1-4827-bacf-8e2a65aafe51.png)

[2021-11-06 15:00] odeke-em commented on #77
@pesi89757 thank you for this bug report! Could you please perhaps post in here a txt of the crash log? It is impossible to debug from a tiny screenshot that can't be copied for grepping too.

[2021-11-14 15:12] gsk967 opened #84 "Failing all commands of evmos due to `EnableObservability`"
__System info:__ [latest `main` branch]

__Steps to reproduce:__

1. bash init.sh
2. evmosd or all subcommands failing

__Additional info:__
[code]

[2021-11-15 21:55] marcj opened #89 "staking create-validator: Error: invalid character 'e' looking for beginning of value"
__System info:__

MacOS 12.0.1
go1.17.3
Evmos v0.1.3

__Steps to reproduce:__

[code]

__Expected behavior:__

No error, or at least an error that explains me what I did wrong.

__Actual behavior:__

[code]

This error pops up and I have no idea what I'm doing wrong.

[2021-11-15 23:05] #84 closed

[2021-11-16 07:37] gsk967 commented on #89
@marcj Please chanag the command
[code]

[2021-11-17 21:46] ibatalkin opened #96 "evmosd v0.2.0 don't recognize wallets from v0.1.3"
__System info:__ [Ubuntu]

__Steps to reproduce:__

1. [Create wallet in v0.1.3 with command "evmosd keys add <wallet name> --keyring-backend file"]
2. [Install evmosd v0.2.0]
2. [Recover your wallet that was created in v0.1.3 with command "evmosd keys add "$evmos_wallet_name" --recover --keyring-backend file"]
3. [Notice that evmosd can't use this recovered wallet]

__Expected behavior:__ [Recove

[2021-11-17 23:20] okwme opened #97 "tracer in app.toml"
when using evmos 0.1.3 and setting up a new node the app.toml creates an empty value for the key "tracer".
This causes an error when running `evmosd start`. It requires the field to not be empty but be one of the allowed values.
This is fixed by adding `json` or one of the other suggested values.
It should be filled with some default instead of empty which causes an error (or instructions should b

[2021-11-18 11:48] fedekunze commented on #97
can you try using `v0.2.0`?

[2021-11-18 17:59] fedekunze commented on #96
thanks, can you try using `--algo eth_secp256k1` flag?

[2021-11-18 18:28] maxzonder commented on #96
Doesn't he just forget to put --keyring-backend file in commands?

[2021-11-18 18:31] ibatalkin commented on #96
@maxzonder no, I didn't. You can check attached screenshot.

[2021-11-18 18:43] maxzonder commented on #96
there is no --keyring-backend file in evmosd keys list

[2021-11-18 18:48] ibatalkin commented on #96
@maxzonder ok, I see but in 0.1.3 the same commands worked without this parameter. If it's intended behaviour for 0.2.0 then this request should be closed.

[2021-11-18 18:54] maxzonder commented on #96
you maybe set keyring by default by

emosd config keyring-backend file

[2021-11-18 21:56] fedekunze commented on #97
Shouldn't be an issue with the latest version:

https://github.com/tharsis/ethermint/blob/main/server/config/config.go#L145

[2021-11-18 21:56] #97 closed

[2021-11-19 09:09] #96 closed

[2021-11-19 09:10] ibatalkin commented on #96
Problem was in missing "keyring-backend file" in config

[2021-11-19 23:11] eeldivad opened #103 "Missing validators"
Chain:  evmos_9000-1
Version: 0.1.3

I'm finding several missing validators.  One example is the validator with pubkey sgIeNs92kvmqC6AUU5wInA6mPEsbOxpNv9D+F3WZOFo=

You can see it first joined the active validator set on block 6979
http://arsiamons.rpc.evmos.org:1317/validatorsets/6979

But I can't find it in the full validators list here
http://arsiamons.rpc.evmos.org:1317/cosmos/staking/v1beta1/

[2021-11-22 19:21] marcj commented on #89
I tried that as well. The syntax given in my example is also documented here https://github.com/tharsis/evmos/blob/e3bf9a63598b9e515a93fa70461a4d869f3e1b7c/docs/guides/validators/faq.md

[2021-11-22 21:43] nick1217 opened #106 "panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x1252198]"
__System info:__ evmos v.0.2.0, OS: Debian 10

__Steps to reproduce:__

1. Build evmosd.
2. Run evmosd testnet init-files.
3. Run evmosd testnet start - everything works fine.
4. Run evmosd start --home=./.testnets/node0 - the program stops with an error.

__Expected behavior:__ The evmosd should should work without errors.

__Actual behavior:__ The evmosd stops after 15-16 seconds of work with th

[2021-11-23 04:56] gsk967 commented on #89
Check this @marcj
Comos Based BlockChain Follow Same Steps
Just check this
https://github.com/OmniFlix/docs/blob/main/guides/testnets/flixnet-2/run-validator.md

Just replace `omniflixhubd` with `evmosd`

[2021-11-26 03:20] giansalex opened #119 "Error register ERC20 proposal (Intrarelayer)"
__System info:__
[code]

__Steps to reproduce:__

1.  Create a `RegisterERC20Proposal`

__Expected behavior:__  Proposal created

__Actual behavior:__ error: `panic message redacted to hide potentially sensitive system info: panic`

__Additional info:__  Tx Hash: `13E54561AAE5AA267DD88CB9A272654C12276AB3156937E12EAF9A762D88DF80`

I found in code that `app.IntrarelayerKeeper`  is passed as paramete

[2021-11-28 01:46] #103 closed

[2021-11-28 03:36] lightiv opened #127 "Missing Tx / Missing Funds?"
__System info:__ [Include Ethermint commit, operating system name, and other relevant details]

Ubuntu 20.0.4
https://evmos.skynetexplorers.com/transactions/BE822EBAA23E0E946AEE62023F25CF09EE849BF61C9A885B51C0BCFB44FEBEFB (Missing)

__Steps to reproduce:__

 evmosd tx staking delegate evmosvaloper1uvespdsgqjr3s09v747224zre33vs8kl82h497 1172110991216100aphoton --gas auto --fees 5000aphoton --from s

[2021-11-29 06:44] eeldivad opened #129 "Debug messages in logs"
__System info: Windows server core 2019
name: ethermint
server_name: evmosd
version: 0.3.0
commit: 070b668f2cbbf52548c46e96b236e09884483dd4
build_tags: ""
go: go version go1.17.1 windows/amd64

__Steps to reproduce:__

evmosd start --log_level warn

__Expected behavior:__
Only warnings should show and be logged

__Actual behavior:__
Thousands of lines of DEBUG statements are being logged for certa

[2021-11-29 16:12] giansalex commented on #127
Maybe explorer issues, you can search here
https://evmos-rpc.mercury-nodes.net/tx?hash=0xBE822EBAA23E0E946AEE62023F25CF09EE849BF61C9A885B51C0BCFB44FEBEFB

[2021-12-01 20:25] #119 closed

[2021-12-02 02:36] itsdevbear opened #137 "Deprecation warning on MacOS12 - Cannot Compile"
/System/Library/Frameworks/Security.framework/Headers/SecTrustedApplication.h:59:10: note: 'SecTrustedApplicationCreateFromPath' has been explicitly marked deprecated here
# gopkg.in/olebedev/go-duktape.v3
In file included from _cgo_export.c:4:

Deprecation warning on MacOS12. Seems to be related to both keyring and go-duktape.

[2021-12-02 11:24] konnov opened #140 "Compile built-in contracts in the build process"
*Surfaced from @informalsystems audit of Ethermint [v0.8.1](https://github.com/tharsis/ethermint/releases/tag/v0.8.1) and Evmos [v0.3.0](https://github.com/tharsis/evmos/releases/tag/v0.3.0)*

__Proposal:__ Compile `ERC20Burnable`, `ERC20MinterBurner`, and `ERC20PresetMinterPauser` contracts from their Solidity sources as part of the build process. This would increase transparency of the built-in

[2021-12-03 05:59] 0xrebased opened #144 "debug_traceTransaction failure when using --trace"
Steps to Repro:
1) evmosd start --trace --log_level info  --minimum-gas-prices=0.0001aphoton

2) Try to get return value from a non view function via running a debug trace.

3) Experience: RPCRequestError: Accessing `TransactionReceipt.return_value` on a confirmed transaction requires the `debug_traceTransaction` RPC endpoint, but the node client does not support it or has not made it available.

[2021-12-03 06:03] 0xrebased commented on #144
Once the transaction has been confirmed, it will stop erroring out, but the return value is empty!
[image](https://user-images.githubusercontent.com/93690142/144553620-5b3ad48f-5512-4a12-bfc8-05e6e41be7c5.png)
![image](https://user-images.githubusercontent.com/93690142/144553547-d94a5ceb-542a-453c-9d56-9a386c45e14c.png)![image](https://user-images.githubusercontent.com/93690142/144553620-5b3ad48f-

[2021-12-03 06:08] 0xrebased commented on #144
Via RPC:

![image](https://user-images.githubusercontent.com/93690142/144554003-75361f9b-ed9a-4f77-8f85-de0bc74540c8.png)

[2021-12-03 06:08] 0xrebased commented on #144
![image](https://user-images.githubusercontent.com/93690142/144554027-44cbd59f-b0c3-4413-83b2-15049d8d1b4c.png)

[2021-12-03 06:10] 0xrebased commented on #144
Remembering to include --json_rpc is important

[2021-12-03 06:10] #144 closed

[2021-12-03 07:24] itsdevbear opened #145 "Issue with Web3.py / Brownie and return values"
__System info:__ [Include Ethermint commit, operating system name, and other relevant details]
Running local node @ commit: 90ba91e3f03fd56bb9a9f1038bbedb293574a83e

__Steps to reproduce:__

1. Deploy contract
2. Execute function call

Edit: seems to be a brownie specific issue.

__Expected behavior:__ [What you expected to happen]
returns 6.
__Actual behavior:__ [What actually happened]
returns n

[2021-12-04 21:40] 0xrebased commented on #73
Can probably close this.

[2021-12-04 21:41] odeke-em commented on #73
Yes, we can! Thank you @0xrebased.

[2021-12-04 21:41] #73 closed

[2021-12-04 21:46] 0xrebased commented on #73
nppppp

[2021-12-04 21:55] arno01 commented on #53
I think this one is still valid.

[2021-12-06 00:09] #48 closed

[2021-12-06 00:22] odeke-em opened #148 "docs: missing link in section about JSON-RPC"
If you visit https://evmos.dev/api/json-rpc/server.html you see square brackets that mos def came from a missing link
![image](https://user-images.githubusercontent.com/4898263/144770169-197afb69-c09a-465f-8374-942d5d96d283.jpeg)

[2021-12-10 05:22] AliakseiMalyshau opened #160 "Evmos Testnet | JSON-RPC eth_syncing issue"
__System info:__

Hello team!

OS: Ubuntu 20.04 LTS
CPU: 4 vCPU
RAM: 16 GB
Cloud: AWS
Evmosd version: 0.4.1

Problem: I started `evmosd` service and wanted to check `eth_syncing` API method:

[code]

Result:

[code]

The node is synced, but I have 7000+ block, when chain has 185000+.

__Steps to reproduce:__

1. [First Step]
Call curl --location --request POST 'xx.xx.xx.xx:8545/' --header 'Content

[2021-12-10 05:40] AliakseiMalyshau opened #161 "Evmos Testnet | Errors after adding SEEDS and PEERS into config.toml"
__System info:__

Hello team!

OS: Ubuntu 20.04 LTS
CPU: 4 vCPU
RAM: 16 GB
Cloud: AWS
Evmosd version: 0.4.1
Evmosd start command: `evmosd start --db_dir /data --log_level info --minimum-gas-prices=0.0001aphoton --json-rpc.api eth,txpool,personal,net,debug,web3`

Problem: basically I run my node via `init.sh` with commenting last start command. Next I just start `evmosd` service via systemd unit. I

[2021-12-10 05:45] AliakseiMalyshau opened #162 "Evmos Testnet | Mnemonic is absent after creating key via evmosd"
__System info:__

Hello team!

OS: Ubuntu 20.04 LTS
CPU: 4 vCPU
RAM: 16 GB
Cloud: AWS
Evmosd version: 0.4.1
Evmosd start command: evmosd start --db_dir /data --log_level info --minimum-gas-prices=0.0001aphoton --json-rpc.api eth,txpool,personal,net,debug,web3

Problem: when I try to create key via `evmosd keys add test-key` I didn't have mnemonic:

[code]
__Steps to reproduce:__

1. [First Step]
T

[2021-12-10 12:15] McDaan commented on #162
Hi there,

You can find the mnemonic (24 words) associated to that address in the last line.

Regards,
Daniel (Mandragora)

[2021-12-10 12:23] McDaan commented on #161
Hi there,

I guess you need more peers to connect to since the ones in the Github repo are probably full. You can find them at https://discord.com/channels/809048090249134080/897514479363973120

By the way, you are trying to run a node with 0.4.1 version, but you should do it with the 0.4.0 till the tomorrow's upgrade.

Regards,
Daniel (Mandragora)

[2021-12-10 14:17] AliakseiMalyshau commented on #162
Thanks! Sorry for this question, didn't noticed it!

[2021-12-10 14:39] AliakseiMalyshau commented on #161
@McDaan hello! Sorry I can't reach this channel :(

"Messages Failed to Load"

[2021-12-11 21:41] giansalex opened #168 "Interalayer : Register ERC20"
__System info:__
[code]

__Steps to reproduce:__

1. Create a register-erc20 proposal
[code]

__Expected behavior:__ Erc20 gov proposal  for
[code]
__Actual behavior:__ Error
[code]

__Additional info:__
I think the `erc20Data.Symbol` should be used .

https://github.com/tharsis/evmos/blob/0716a72ffd52313e4c3abc326205b4e573b12475/x/intrarelayer/keeper/proposals.go#L130

[2021-12-12 10:06] Gabijke commented on #168
Yes, we got the same error when adding USDC to the blockchain.

[2021-12-12 12:58] giansalex commented on #168
I think it is fixed here #169

[2021-12-12 12:58] #168 closed

[2021-12-12 19:12] AliakseiMalyshau commented on #160
Issue closed because I ran my node in localnet. Sorry for this.

[2021-12-12 19:12] #160 closed

[2021-12-13 07:45] AliakseiMalyshau opened #171 "Evmos Testnet | 2310 commit block error"
__System info:__

Hello team!

OS: Ubuntu 20.04 LTS
CPU: 4 vCPU
RAM: 16 GB
Cloud: AWS
Evmosd version: 0.4.0 (ready binary file)
Evmosd start command: `evmosd start`

P.S: also I tried to use evmosd version 0.4.1, 0.3.0, 0.4.2 - in each version same behaviour.

---

Config files:

config.toml:

[code]

app.toml:

[code]

---

__Steps to reproduce:__

1. `evmosd config chain-id evmos_9000-2 && evmos

[2021-12-14 08:24] AliakseiMalyshau commented on #171
Ran my full node via `state sync` method. But anyway from scratch I can't sync.

[2021-12-14 08:24] #161 closed

[2021-12-16 06:41] eeldivad commented on #129
@faddat i saw you updated go-metrics.  so the fix will be in the next release?  I'm on version evmosd version 0.4.2 now and still see this problem.  it's actually worse now and crashes the servers at the end of the debug dumps with hundreds of thousands of lines of this.  See the bottom of the logs to see the error which is unrecoverable and requires us to do unsafe-reset-all and statesync again m

[2021-12-16 10:07] henter commented on #171
same issue occured

[code]

[2021-12-16 20:21] prajjwol commented on #71
should be fixed now

[2021-12-16 20:21] #71 closed

[2021-12-17 00:48] timonlyalt commented on #171
Having the same issue

[2021-12-20 00:09] #72 closed

[2021-12-22 15:26] Kukovec opened #182 "`convert-erc20` gas estimation is inaccurate"
*Surfaced from @informalsystems audit of Ethermint [v0.8.1](https://github.com/tharsis/ethermint/releases/tag/v0.8.1) and Evmos [v0.4.0](https://github.com/tharsis/evmos/releases/tag/v0.4.0)*

Reposting from Slack, where @fedekunze identified this behavior as a bug:

__System info:__ Evmos v0.4.0 on [Docker](https://github.com/tharsis/evmos/blob/main/Dockerfile)

__Steps to reproduce:__

1. `tx in

[2021-12-22 15:42] fedekunze commented on #182
are you using gas `auto`? usually, gas estimation is not 100% accurate, so you need to set `--gas-adjustment=1.2` (i.e higher than 100%)

[2021-12-22 15:46] Kukovec commented on #182
if you specify `--gas 10000000` the call above works.
My understanding is that `fees = gas * price`, so since the price is constant on a test, bigger `--fees` should imply more `--gas`.

[2021-12-22 15:51] fedekunze commented on #182
my guess is that this is a gas estimation issue, as I've had in the SDK too. Let me confirm with the team

[2021-12-23 03:45] giansalex commented on #182
@Kukovec if you send high fees , you are sending high gas-prices, your node only have `minimum-gas-prices`

[2021-12-23 09:50] Kukovec commented on #182
I see the point about `--fees`, but there's still the issue of automatic gas computation failing the estimate. I'll change the title to reflect this.

[2021-12-23 14:20] giansalex commented on #182
`--gas auto` not always accurate, that's why there is `--gas-adjustment`

[code]

[2021-12-26 07:02] Sobenara opened #186 "Adding a New Network To MetaMask"
Hey,
I can add Evmos to metamask using https://chainlist.org or fill the MetaMask form

In MetaMask i get error " Could not fetch chain ID. Is your RPC URL correct? "
in Chainlist i fet error " Request for method 'eth_chainId on https://ethereum.rpc.evmos.dev failed "

Any Help Thanks :-)

[2021-12-29 15:47] begetan commented on #171
Any progress on this issue?

[2021-12-30 00:09] #77 closed

[2022-01-06 21:54] ValarDragon opened #198 "evm module link broken"
The EVM module link in https://github.com/tharsis/evmos/blob/main/x/README.md is broken.

Couldn't find the EVM module, otherwise would've just submitted a PR to fix it

[2022-01-09 21:49] Tomas-Eminger commented on #53
This look like a problem on Ledger Cosmos App side, which is blocking cointype 60 (which is reserved for Ethereum)

[2022-01-14 18:58] Tomas-Eminger commented on #53
https://github.com/cosmos/ledger-cosmos/pull/42

[2022-01-16 00:10] #106 closed

[2022-01-16 00:10] #89 closed

[2022-01-17 05:14] ebuchman opened #213 "single node localnet docs use "aevmos" but should use "photon" for coin denom"
See https://evmos.dev/guides/localnet/single_node.html

Uses `aevmos` for the account balance but should use `photon` otherwise web3 APIs can't seem to see it.

[2022-01-18 01:56] 0xrebased commented on #145
bump

[2022-01-18 12:26] manelio opened #217 "Redacted errors calling eth_getBlock via web3 JSON RPC"
I posted this issue in cosmos-sdk GitHub, but it seems more related to evmos:

## Version

evmosd 0.3.0

[code]

**Important**: the same happens in three different nodes: two Rasperry Pi 4 (arm64, local network) and a VPS in Digital Ocean (amd64, remote network). In all cases the base SO is a clean install of Ubuntu 20.04.

Network is Genesis L1, built on evmos. Official JSON RPC URL is https://rp

[2022-01-19 06:08] maxyang107 opened #220 "How can the aevmos in the account be used on Metamask"
this is the balance of my account
parallels@parallels-Parallels-Virtual-Platform:~/Documents/evmos/evmos$ evmosd query bank balances $( evmosd keys show student -a)
balances:
- amount: "10"
  denom: aevmos
- amount: "10"
  denom: photon
pagination:
  next_key: null
  total: "0"

But WHEN I log in to the metamask to connect to the local network, I can't see the balance. Metamask shows 0 PHOTON。

wh

[2022-01-19 08:03] AlexTan-b-z commented on #220
Hello, I have the same problem. Have you solved it yet?

[2022-01-19 10:13] AlexTan-b-z commented on #220
I have tried using truffle to deploy smart contracts: https://evmos.dev/guides/tools/truffle.html
When I use `truffle migrate --network development`, an error occurred:
[code]

It looks like have no balance to pay for gas.

I start the network by `init.sh`.

[2022-01-19 10:32] maxyang107 commented on #220
I haven't solved it yet, if you solve it, please let me know

[2022-01-19 10:34] maxyang107 commented on #220
If you can, please add me qq: 617190787 to discuss and study together

[2022-01-20 08:14] comnics-reappay commented on #220
Modify truffle-config.js
1. Add on top of file
`const HDWalletProvider = require("truffle-hdwallet-provider");
const mnemonic = "[mykey mnemonic]";`

2. Modify networks
`    development: {
      provider: () => new HDWalletProvider(mnemonic, 'http://127.0.0.1:8545'),
      network_id: 9000,
    }`

Maybe, You need to add a module [truffle-hdwallet-provider], etc.
`npm install truffle-hdwallet-prov

[2022-01-20 08:16] comnics commented on #220
Modify truffle-config.js

1. Add on top of file
`
const HDWalletProvider = require("truffle-hdwallet-provider");
const mnemonic = "[mykey mnemonic]";
`

2. Modify networks
`
development: {
    provider: () => new HDWalletProvider(mnemonic, 'http://127.0.0.1:8545'),
    network_id: 9000,
}
`

- Maybe, You need to add a module [truffle-hdwallet-provider], etc.
`
npm install truffle-hdwallet-provider

[2022-01-20 09:48] AlexTan-b-z commented on #220
Thank you. But it does not work, an another error occured:`Error: Expected parameter 'from' not passed to function.`
Then, I add `from` parameter like this:
[code]
But another error occured again:
[code]

By the way, I guess the json-rpc has bug?

I tried truffle、metamask、web3. In all of these tools the balance is shown as 0, and can not do anything like Ethereum. All errors about: The balance is

[2022-01-21 07:45] AlexTan-b-z commented on #220
Oh, I solved it.
I use this code can run success: https://github.com/tharsis/ethermint.git
Maybe the code that from Ethermint to Evmos sync not complete.

[2022-01-25 00:10] #137 closed

[2022-01-25 20:19] loredanacirstea opened #238 "Add init.sh along with the released binary files"
I tried the 0.4.2 release with https://raw.githubusercontent.com/tharsis/evmos/main/init.sh. I exported the local account to the Metamask wallet and saw a balance of 0 TEVMOS (I changed the network, refreshed the page. I was on the correct local testnet).

I then used a previous version https://raw.githubusercontent.com/tharsis/evmos/496deb4c196f42aab6fec82f246d7d93bc58742a/init.sh to initialize t

[2022-01-28 00:09] #148 closed

[2022-01-30 21:25] fedekunze commented on #238
thanks @loredanacirstea for the issue

This is expected as there are state machine and API breaking changes between `v0.4.2` and the changes we've merged to `main` so the node shouldn't be able to run.

Glad that the last version worked! Feel free to check out our newest alpha version [`v1-alpha1`](https://github.com/tharsis/evmos/releases/tag/v1.0.0-alpha1)

[2022-01-31 02:32] eeldivad commented on #129
This issue was resolved by disabling tracer in app.toml
tracer = ""

[2022-01-31 02:32] #129 closed

[2022-02-08 05:32] JSHan94 opened #260 "Error in installing and running evmos with dockerfile"
## Summary of Bug

When installing and running evmos with dockerfile following [installation tutorial](https://evmos.dev/quickstart/installation.html), i found error message.

I also tried to install with github src file, but it also doesn't work.

## Version

git hash : [f111413](https://github.com/tharsis/evmos/commit/f111413ca1be9d778283aadee65f766fcde45a9e)

## Steps to Reproduce

I followed t

[2022-02-09 00:14] #67 closed

[2022-02-15 11:22] danburck commented on #182
@Kukovec @giansalex I added a fix for the gas estimation. Hope this clears things up.

[2022-02-15 11:22] #182 closed

[2022-02-15 15:05] litvinsky commented on #260
The problem is that Docker downloads the latest version of the application. It is currently v1.0.0-alpha and it will be used in a future testnet that isn't yet launched. We expect to launch it this week.

[2022-02-15 22:26] giansalex commented on #198
probably https://github.com/tharsis/ethermint/tree/main/x/evm

[2022-02-15 22:29] giansalex commented on #260
you need to run  `git checkout v0.4.2` before binary build

[2022-02-15 22:31] giansalex commented on #220
@maxyang107 you need to convert `aevmos` to erc20

[2022-02-18 00:10] #186 closed

[2022-02-20 00:13] #171 closed

[2022-02-21 03:28] cocoyes opened #283 "How to use the functions of voting and pledge, and whether there are relevant SDK tools?"
As shown in the title。
I ran the local node and successfully created the block, but my verifier account did not generate any income. I want to know how to use the functions of voting and pledge. In addition, can the block revenue be configured?

[2022-02-21 11:52] cocoyes opened #284 "About the format of the verifier's address?"
I run blow code
[code]
but i get address `evmosvalcons12fuue4wvn3gg0awa2rvgx9r4r244q4mkg9ynrj`
expected evmosvaloper, got evmosvalcons: invalid request
How to convert them to format？
thanks

[2022-02-22 08:14] cocoyes commented on #283
I try ,result:
[code]

[2022-02-22 21:54] giansalex commented on #284
use this command `evmosd keys show [mykey] -a --bech val`

[2022-02-24 01:15] cocoyes commented on #284
This works，thanks

[2022-02-24 01:15] #284 closed

[2022-02-28 11:05] fedekunze commented on #213
closing, should be fixed now

[2022-02-28 11:05] #213 closed

[2022-02-28 11:06] fedekunze commented on #53
Evmos supports Ledger through the Ethereum ledger app (which you can connect to Metamask and sign cosmos txs). The `evmosd` CLI binding doesn't work with the Ethereum ledger app, that's why `evmosd keys add <name> --ledger` errors.

[2022-02-28 15:32] #238 closed

[2022-02-28 22:28] peskypunk opened #309 "lots of "account not found" errors when deploying an EVM contract"
Hello,
I am running a local testnet built from the 0.4.2 release, generally running the defaults from `init.sh` after creating one account (referred to below as `ACCOUNT_0`).

[code]

I tried deploying an example EVM smart contract: https://github.com/gnosis/canonical-weth/blob/master/contracts/WETH9.sol

The below python script runs this deployment:
https://gist.github.com/peskypunk/e15660e24ef1d

[2022-02-28 22:54] fedekunze commented on #309
hey @peskypunk can you try to reproduce with v1.0.0?

[2022-02-28 23:08] peskypunk commented on #309
lol wow, yeah that fixed it. thanks!

just curious, what commit/change fixes this?

[2022-03-01 05:43] #283 closed

[2022-03-01 08:13] peskypunk opened #311 "transactions that don't fit into this block fail instead of being added to the next blocks"
## Summary of Bug

Tried running a test of issuing a bunch of contract deploys (50 constructors of an ERC20Mock) close to each other.
On geth the expected result happens: the deploys get spread out over a bunch of blocks (all succeed)
On evmos the first few (that make it into the first block) succeed, then the rest fail (but don't get executed in the next block) as seen in this log:

[code]

This

[2022-03-01 13:06] fedekunze commented on #309
Don't remember exactly but it was fixed on Ethermint. Will close this then. Thanks!

[2022-03-01 13:06] #309 closed

[2022-03-01 17:29] junbeomlee opened #319 "starport relayer connect exception"
## Summary of Bug
[code]
when connect evmos <-> sample chain using starport relayer, i got the `Unsupported type: '/ethermint.types.v1.EthAccount'` message

## Version
current main commit(ee54f496551df937915ff6f74a94732a35abc505)

## Steps to Reproduce

[code]

source chain: evmos
target chain: starport created empty chain

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not d

[2022-03-01 19:51] peskypunk commented on #311
Update: I reran `evmosd` with loglevel `debug` and updated the linked gist

[2022-03-02 01:13] yourbuddyconner opened #323 "Add Canonical WEVMOS Contract to repository"
The Nomad team will be deploying the canonical WEVMOS contract upon mainnet launch, lets merge the contract code with the evmos codebase for visibility and verifiability.

[2022-03-02 01:22] #323 closed

[2022-03-02 03:01] fedekunze commented on #319
Hey @junbeomlee I think you need to open this issue on the starport repo instead, Cheers

[2022-03-02 03:01] #319 closed

[2022-03-02 04:41] junbeomlee commented on #319
In evmos, then, what tool do you use to connect the IBC?

[2022-03-02 04:42] junbeomlee commented on #319
@fedekunze

[2022-03-02 13:40] xcif opened #328 "Issue while installing Evmos"
$ make install

`/bin/sh: 1: go: not found
go install -tags "netgo ledger" -ldflags '-X github.com/cosmos/cosmos-sdk/version.Name=evmos -X github.com/cosmos/cosmos-sdk/version.AppName=evmosd -X github.com/cosmos/cosmos-sdk/version.Version=1.1.0 -X github.com/cosmos/cosmos-sdk/version.Commit=f079774ede908f533680112d93ff014464342546 -X "github.com/cosmos/cosmos-sdk/version.BuildTags=netgo,ledger" -X

[2022-03-02 13:49] fedekunze commented on #328
Please install golang

[2022-03-02 13:49] #328 closed

[2022-03-02 13:51] fedekunze commented on #311
hey @peskypunk we don't have a bounty program yet, but I'd highly suggest to apply for one on Cronos [here](https://immunefi.com/bounty/cronos/) as it also affects them

[2022-03-02 18:37] peskypunk commented on #311
thanks @fedekunze! any chance I can get in on the rektdrop?  you can email me at peskiestpunk@gmail.com if that's easier

[2022-03-02 19:55] peskypunk commented on #311
thanks, submitted to immunefi as submission 5966

[2022-03-02 22:11] karzak opened #332 "Airdrop addresses derived from Cosmos ledger app cannot claim rewards"
Consider the following user:

1. Stakes ATOM using cosmos ledger app (address cosmos1...) at time of snapshot.

The evmos genesis file allocates a claim to that user using the address derived from the `cosmos1` address and creates an account and a claim object for that user (ie `evmos1...`).

In order to claim their airdrop, this user needs to sign a transaction (MsgDelegate, for example). However

[2022-03-03 17:34] fedekunze commented on #332
Thanks, this case is already covered in the claims module, check the spec for reference. We are not supporting `secp256k1` keys

[2022-03-04 05:45] kwunyeung opened #343 "Keys generated with Cosmos (ATOM) Ledger app can't be used"
## Summary of Bug

`evmosd` allows users to generate keys with the `Cosmos (ATOM) Ledger app` by running this following command.

[code]

However, the generate key is in `secp256k1` type but not `ethsecp256k1`. Once the account is created on chain, the account is locked as all transactions broadcasting from this account won't be committed on chain. It breaks the current airdrop flow as the account

[2022-03-04 11:38] colin-axner commented on #343
I ran into this as well. I guess keys generated using `secp256k1` won't be supported unless it was added to the [signature verification](https://github.com/tharsis/evmos/blob/main/app/sigverify.go#L36-#L58), but I'd assume the purpose of using `eth_secp256k1` was such that it wouldn't need to be supported

[2022-03-04 12:11] colin-axner commented on #343
Ah! Brilliant! I figured out how you are supposed to work around this. Just send an IBC transfer from an account with the same key as the one you generated via `secp256k1` and it'll [migrate your claims](https://github.com/tharsis/evmos/blob/main/x/claims/keeper/ibc_callbacks.go#L81-#L86) to the recipient address of the IBC transfer (ensure this address is eth_secp256k1 generated)

[2022-03-04 16:37] chalabi2 opened #347 "Evmosd Binary Issue"
## Summary of Bug

When attempting to claim the rektdrop via cli I ran this command `evmosd keys unsafe-import-eth-key <evmos address> <eth private key>`. After importing the eth private key the command creates a wallet that is named after the address but is a different address.

## Version

V1.1.1

## Steps to Reproduce

1. `evmosd keys unsafe-import-eth-key <evmos address> <eth private key>`
2.

[2022-03-04 16:45] dvmrry commented on #343
Am I right to assume there's no way to leverage the claim migration after its been claimed to `secp256k1`?

[2022-03-05 11:01] eeldivad opened #350 "API call to validator outstand_rewards returns inaccurate result"
## Summary of Bug
When I make an API call to https://rest.bd.evmos.org:1317/cosmos/distribution/v1beta1/validators/evmosvaloper1fhfkklmv764r3u6kqkeflmddr6rlzhf4r9lae6/outstanding_rewards

I get some values.  But when I withdraw my validator rewards + commission then there's still over 100evmos left when I call this API again.  Most of the rewards do get deposited to my usable balance as expected.

[2022-03-05 13:42] shotts102345 commented on #343
pubkeyのエラー表示でステークも投票もできませんでした。

[2022-03-05 13:44] shotts102345 commented on #343
その後keplrを一度削除し再度インポートした所evmosだけ資産が戻ってきませんでした。どうすればこの問題は解決されますか？

[2022-03-05 13:45] shotts102345 commented on #343
不具合だと思った私はkeplrを一度削除して、再度インポートしました。しかしevmosの資産だけ戻ってきませんでした。どうすればいいですか？

[2022-03-05 13:46] shotts102345 commented on #343
evmosがウォレットから消えた

[2022-03-05 23:19] D-Nice commented on #332
@karzak our unsung hero. You tried to warn them, they ignored you and said it's a feature not a bug...

[2022-03-06 00:02] 0720212 opened #353 "Someone can lock other air-drop claimable accounts."
If someone send IBC transfer to another person's account in the jenesis file(claimable list) .
The account will be locked now.   Hopefully the dashboard will open soon.

[2022-03-06 00:10] PulsarStation commented on #353
I have sent IBC OSMO to multiple EVMOS addresses without a problem. Can you provide more details? my email is cyberpenguin1@protonmail.com

[2022-03-06 00:13] #353 closed

[2022-03-06 00:15] 0720212 commented on #353
If you know this issue, just delete this.

[2022-03-06 03:55] knwins opened #355 "Bug warning: 'SecTrustedApplicationCreateFromPath' is deprecated: first deprecated in macOS 10.15 - No longer supported [-Wdeprecated-declarations]"
macOS Big Sur 11.52

make install Error

go install -tags "netgo ledger" -ldflags '-X github.com/cosmos/cosmos-sdk/version.Name=evmos -X github.com/cosmos/cosmos-sdk/version.AppName=evmosd -X github.com/cosmos/cosmos-sdk/version.Version=1.1.1 -X github.com/cosmos/cosmos-sdk/version.Commit=1bd0bf6c6476b05858efc41b4803d8003d58e112 -X "github.com/cosmos/cosmos-sdk/version.BuildTags=netgo,ledger" -X g

[2022-03-06 14:09] #311 closed

[2022-03-06 14:45] loredanacirstea commented on #217
@manelio, running `evmosd` with `--trace` should show the redacted panic errors. Added in https://github.com/cosmos/cosmos-sdk/pull/9576

[2022-03-06 17:37] si38fj opened #361 "Regarding the airdrop claim issue."
''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
Below is what I have figured out. This may be incorrect information. You make the decision yourself. If you think it's really wrong, close and delete it.  But I don't think it is wrong.
''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

The airdrop accounts for

[2022-03-06 17:50] #361 closed

[2022-03-06 20:50] #145 closed

[2022-03-06 20:50] itsdevbear commented on #145
In theory was fixed in ethermint 0.10.2

[2022-03-06 20:52] itsdevbear commented on #355
@knwins

[code]

This won't silence the warning, but it will fix the build error.

[2022-03-07 02:40] knwins commented on #355
Please tell me which file to modify, thank you!

[2022-03-07 02:41] itsdevbear commented on #355
go.mod

[2022-03-07 03:26] knwins commented on #355
go install -tags "netgo ledger" -ldflags '-X github.com/cosmos/cosmos-sdk/version.Name=evmos -X github.com/cosmos/cosmos-sdk/version.AppName=evmosd -X github.com/cosmos/cosmos-sdk/version.Version=1.1.1 -X github.com/cosmos/cosmos-sdk/version.Commit=1bd0bf6c6476b05858efc41b4803d8003d58e112 -X "github.com/cosmos/cosmos-sdk/version.BuildTags=netgo,ledger" -X github.com/tendermint/tendermint/version.T

[2022-03-07 03:28] Aberdeen79 opened #364 "."

[2022-03-07 09:08] hea9549 opened #366 "erc20 keeper delete function have to delete related map"
## Summary of Bug

I'm looking at the evmos code. I think that `func (k Keeper) DeleteTokenPair(ctx sdk.Context, tokenPair types.TokenPair)`, a function that deletes TokenPair, should delete not only id but also erc20Map and denomMap.

  `func (k Keeper) UpdateTokenPairERC20(ctx sdk.Context, erc20Addr, newERC20Addr common.Address)` proceeds as follows:
1. deletes pair using `DeleteTokenPair` funct

[2022-03-07 09:30] danburck commented on #366
@hea9549 Thanks for reporting this, this is great.  We have no objections to this improvement. Please feel free to open a PR with the suggested changes and we'll review it.

[2022-03-07 11:58] #366 closed

[2022-03-07 13:37] hea9549 commented on #366
oops @fedekunze  fix this issue 👍

[2022-03-07 16:18] #364 closed

[2022-03-09 15:46] tennox opened #378 "Testnet command error: address already in use"
## Summary of Bug

I cannot get the `testnet start` command running, it errors with:
[code]
Nothing is running on my local machine, and I also tried the docker container variant.

## Version

binary: 2.0.1 (built from b7d84835e55f2e2dba7f2d001ed50e566bee8841)
docker: 2.0.1 (`docker.io/tharsishq/evmos@sha256:6fb3f3024d0ebec4dc18f1e66ae767e6882a560b6a8e475390acc5dfdd5393c9`)

## Steps to Reproduce

[2022-03-09 15:47] tennox commented on #378
I have also tried changing the rpc port:
`evmosd testnet start --json-rpc.address 0.0.0.0:8546`
The error is still the same (with `8545`)

[2022-03-14 23:51] joshuacheong commented on #355
Hi I am facing the same make install failure issue using a Mac (MacOS High Sierra 10.13.6). Please help.

MacBook-Air:evmos admin$ make install
go install -tags "netgo ledger" -ldflags '-X github.com/cosmos/cosmos-sdk/version.Name=evmos -X github.com/cosmos/cosmos-sdk/version.AppName=evmosd -X github.com/cosmos/cosmos-sdk/version.Version=2.0.1 -X github.com/cosmos/cosmos-sdk/version.Commit=c5541ea

[2022-03-15 06:22] ItsFunny commented on #355
same issue , make install failed for
`vendor/github.com/zondax/hid/hid_enabled.go:38:11: fatal error: 'hidapi/mac/hid.c' file not found
        #include "hidapi/mac/hid.c"`

[2022-03-16 15:03] mikedizon commented on #378
+1

[2022-03-16 15:37] Kukoomomo opened #404 "Testnet command error: MustUnmarshalJSON panic"
When use `evmosd testnet init-files --output-dir ./mytestnet --chain-id evmos_9000-1 --keyring-backend file --v 1`
it will be panic as follows :

panic: EOF
github.com/cosmos/cosmos-sdk/codec.(*ProtoCodec).MustUnmarshalJSON(0x140005b05d0, {0x0, 0x0, 0x0}, {0x106b42030, 0x14001077090})
	github.com/cosmos/cosmos-sdk@v0.45.1/codec/proto_codec.go:176 +0x80
main.initGenFiles({{0x0, 0x0, 0x0}, {0x106baf

[2022-03-16 16:37] #404 closed

[2022-03-17 17:56] mikedizon commented on #378
having the same issue

[2022-03-20 00:13] #140 closed

[2022-03-20 17:36] mikedizon commented on #378
@tennox delete the .testnets directory.

then re-run init-files and pass `-v 1`

then run `start` and pass `-v 1`

[2022-03-22 14:43] litvinsky commented on #378
@tennox you could use `docker run -it --rm --name=evmos -p 26657:26657 -p 26656:26656 tharsishq/evmos evmosd testnet start --v 1` to solve this issue

[2022-03-22 14:43] #378 closed

[2022-03-22 15:59] #53 closed

[2022-03-23 15:46] fedekunze commented on #220
Network ID on mainnet is 9001. Please ask the team via Discord or open a new issue if the problem persists

[2022-03-23 15:46] #220 closed

[2022-03-28 08:04] #217 closed

[2022-03-28 09:16] loredanacirstea opened #437 "x/fees - fee distribution module - design"
Distributes `gasLimit * baseFee` to developers (contract owners) and validators.
A first prototype of how this can work: https://github.com/tharsis/evmos/pull/436

Questions: [Updated after internal discussions and testing]

1. registered contracts go through governance? https://evmos.blog/the-evmos-token-model-edc07014978b says yes, but https://www.notion.so/tharsis/Fee-Distribution-Module-571c0e

[2022-03-30 16:49] fedekunze commented on #437
@loredanacirstea this is great. I think we can finish the implementation of the first option and once we have it implemented completely we can move forward with splitting the fee rewards across all contracts used in internal transactions.

Registering dev fees for a contract used in a factory is easy if you provide the factory owner's address. Keeping track of all the contracts called internally i

[2022-04-01 14:04] loredanacirstea commented on #437
The main type that I used in https://github.com/tharsis/evmos/pull/436 is:
[code]
1. I saw that in https://github.com/tharsis/evmos/pull/177, the main type does not have `deployer_address`, because it is replaced by `withdraw_address` and `withdraw_address` is subsequently used to cancel/update the instance.
I use the original `deployer_address` to cancel/update the instance, because I imagined th

[2022-04-01 17:20] fedekunze commented on #437
I use the original `deployer_address` to cancel/update the instance, because I imagined that `withdraw_address` could be any type of contract
is my approach ok?

I like your approach more than the original design. The deployer address should be the only one responsible to change the `withdraw_address`. However, I think we can remove the `withdraw_address` from the struct so that we only set the  `

[2022-04-04 14:58] phu-tang-tiki opened #455 "Timestamp difference between trace and query"
## Summary of Bug

When I run evmos code (make install then run init.sh) I found that the timestamp given from trace console is difference with the result when I run `evmosd q block`. The Time from query block bigger than console. Sometime the gap are few minutes and it even bigger than current time.

## Version

0a6b98d6b284a2d0693a14601ce9627b5cd4b2b0

## Steps to Reproduce

run init.sh then ope

[2022-04-10 10:37] aramakam3505 opened #472 "ERR:- validator set is nil in genesis and still empty after InitChain"
Tried to run a node locally.

**steps followed are:-**

1. evmosd init testnet --chain-id=evm_100-1 --home=/home/user/evmosnode

2. evmosd add-genesis-account my_validator 1000000000000000stake,10000000000000000aevmos --home=/home/user/evmosnode

3. evmosd gentx my_validator 10000000000aevmos,10000000000stake --home=/home/user/evmosnode --chain-id=evm_100-1 --amount 10000000000aevmos

4. evmosd co

[2022-04-13 14:05] #437 closed

[2022-04-13 18:05] loredanacirstea commented on #472
@aramakam3505 , check if you have another error above the `validator set is nil in genesis and still empty after InitChain` error. Post the entire log.

[2022-04-17 00:14] johnreitano opened #487 "make localnet-start does not work"
## Summary of Bug

Creating a localnet by running `make localnet-start` as described in https://evmos.dev/guides/localnet/multi_node.html fails with the following error:
[code]

The problem seems to be that there is no file `docker-compose.yml` in the repo. Where can I get a copy of this file?

## Version

edge (main branch).

## Steps to Reproduce

Run `make localnet-start`

____

## For Admin Us

[2022-04-19 07:03] Jasun0925 opened #504 "upgrade the version of tendermint to v0.35.4"
Could you upgrade the version of tender mint to V0 35.4?

Because a bug has been fixed, the link is:  https://github.com/tendermint/tendermint/pull/7714

[2022-04-19 07:15] fedekunze commented on #504
cosmos-sdk v.045.x uses tendermint v0.34 unfortunately, we need to wait until they release the next version

[2022-04-19 07:15] #504 closed

[2022-04-19 07:20] Jasun0925 commented on #504
Thank you for your answers and look forward to the next version update

[2022-04-20 03:27] zeroFruit commented on #487
@johnreitano

I got the same issue and found the docker-compose and proper settings are in the [Tendermint repository](https://github.com/tendermint/tendermint)

You can find the docker-compose and `networks/local` directory which is used in `make localnet-start`

[2022-04-21 04:08] johnreitano commented on #487
Thanks @zeroFruit , that pretty much looks like what I need, but the docker-compose.yml and the files under networks/local  will need to be changed a bit, it seems? Were you able to get them working? If so, would you mind submitting a PR?

[2022-04-21 13:46] fedekunze opened #518 "Update the epochs spec"
The current spec is a copy-paste from Osmosis and is missing a lot of context

https://evmos.dev/modules/epochs/

TODO:

- Use the claims or ERC20 module specs as a reference and update the epochs module (`x/epochs/spec/`

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-22 01:49] zeroFruit commented on #487
@fedekunze @litvinsky Can I work on this issue?

[2022-04-22 07:34] aramakam3505 opened #520 "How to delegate tokens on evmos?"
can we delegate our evmos tokens to validators?

if S .. can i know how??

[2022-04-26 00:17] #347 closed

[2022-04-27 00:16] #350 closed

[2022-04-30 08:03] loredanacirstea commented on #520
For CLI commands, check https://docs.evmos.org/modules/staking/09_client.html#delegation-2
`evmosd tx staking delegate [validator-addr] [amount] [flags]`
Join Discord (link on the repo Readme page) for support questions.

[2022-04-30 08:03] #520 closed

[2022-04-30 08:07] loredanacirstea opened #538 "[ENG-214] x/epochs: create an `hour` type epoch"
Right now, the default epochs are `day` and `week`.
Add `hour` epoch definition. It will be especially useful for user-triggered cronjobs.

[2022-04-30 09:35] fedekunze commented on #538
sgtm, I think we need to create a store migration so we can support hourly epochs on the next upgrade

[2022-04-30 10:00] fedekunze opened #540 "Switch epochs info keys to use `time.Duration` instead of the string identifier"
The `EpochsInfo` key in the x/epochs module is set to store using a string value (`"week"`, `"day"`, etc.). This causes issues when iterating over the stored values if there are different keys. For example, epoch infos with `"week"`, `"day"`, `"hour"` ids, will be sorted (desc):

- "week"
- "hour"
- "day"

instead of the logical sorting using the duration which would be:

- "week"
- "day"
- "hour"

[2022-05-02 06:20] fedekunze commented on #538
see #540

[2022-05-02 22:37] tony-iqlusion opened #545 "Ledger (EIP712)-backed validator account keys (including multisig?)"
We (@iqlusioninc) would like to use Ledgers for our validator account keys.

We are software engineers and can write the requisite tooling and/or try to contribute to something like https://evmos.me/.

It looks like we can sign any Cosmos SDK message using EIP712?

https://github.com/tharsis/ethermint/blob/3bea3fa1ef14834b50898f75313d64fe6bbed6b4/app/ante/ante.go#L42-L44

If so, we can sign a Cosm

[2022-05-04 06:49] breezytm opened #549 "Error - Validator set is nil in genesis and still empty after InitChain"
Hi. I am attempting to deploy an evmos node purely for rpc requests; however I am encountering this issue ``ERR failed init node error="error during handshake: error on replay: validator set is nil in genesis and still empty after InitChain"`` - See below for logs details. I am not sure what I am doing wrong. Thanks in advance for all help.

[code]

ERROR

[code]

[2022-05-04 10:05] loredanacirstea commented on #540
If we want to:
- maintain the functionality of retrieving the epoch info by identifier
- iterate through epochs ordered by duration

I propose having two key-value stores:
1) key:identifier => value:duration
2) key:duration => value:EpochInfo

[2022-05-04 11:29] fedekunze commented on #545
@tony-iqlusion happy if you can update the EIP712 code to support multisigs. We have the [`evmosjs`](https://github.com/tharsis/evmosjs) library that supports sending transactions with EIP712

[2022-05-04 11:38] fedekunze opened #552 "Improve test coverage in `x/fees`"
Improve code coverage for the fees module, especially:

- `keeper/grpc_query.go`
- `keeper/fees.go`
- `types/params.go`
- `types/codec.go`

Codecov: https://codecov.io/gh/tharsis/evmos/tree/main/x/fees

[2022-05-04 20:28] dawsbot opened #558 "Coinbase Wallet cannot connect to claim airdrop"
## Summary of Bug

Users hoping to claim their [Rektdrop](https://app.evmos.org/claims) are only able to connect via Metamask. There are many other wallets in the Ethereum ecosystem including Coinbase Wallet.  A wallet like Coinbase and many others could be supported by using something like [WalletConnect](https://github.com/WalletConnect/walletconnect-monorepo)

## Version

Latest website version

[2022-05-05 22:31] yourbuddyconner opened #562 "bug: Invalid Nonce / Transactions Dropped from Mempool"
## Summary of Bug

The Nomad team is tracking a bug in the Evmos node implementation that results in decreased ability to reliably get transactions included. It manifests in the following ways:
- Nonce errors that take the following shape: `(code: -32000, message: invalid nonce; got 2040, expected 2041: invalid sequence: invalid sequence, data: None)`
- Transactions never affirmatively confirming,

[2022-05-06 02:54] craft0909 opened #563 "ERR failed init node error="error during handshake: error on replay: wrong Block.Header.AppHash."
ERR failed init node error="error during handshake: error on replay: wrong Block.Header.AppHash.  Expected F24F64FA2766CC94E640C503CA7462D133107DAABBEB57D7C6C619312892C14F, got 7D698782C45C70274523B407864801BF5BEEBD2C8E5FDA5E03D9CE19E05B4E1E"
Error: error during handshake: error on replay: wrong Block.Header.AppHash.  Expected F24F64FA2766CC94E640C503CA7462D133107DAABBEB57D7C6C619312892C14F, got 7

[2022-05-06 14:45] akramhussein opened #570 "Node RPC Urls for testnet incorrect?"
## Summary of Bug

Reviewing the Node RPC Urls for `mainnet` and `testnet` [here](https://docs.evmos.org/developers/connect.html) there is only 1 small difference between them:

- On `Testnet` tab, last entry is `.dev`

Should the other URLs not also be different to `Mainnet`?

According to [https://chainlist.org/](https://chainlist.org/) the Ethereum RPC HTTPS Node is also `.dev`

## Version

d63

[2022-05-06 16:33] devli13 commented on #562
Just for visibility: Notional team is working on the following PR to try to mitigate the underlying concurrency issue that tendermint chains face that is causing the above mentioned problems https://github.com/tendermint/tm-db/pull/239

[2022-05-06 19:50] faddat commented on #562
Additional context:

This is not (to my knowledge) the sole concurrency / mutex issue that can slow things down.

Nomad -- is this super-painful and urgent?

I can spin up some rpcs with this:

https://github.com/tharsis/evmos/pull/542

It should do a good deal towards improving performance.

[2022-05-07 00:23] yourbuddyconner commented on #562
We have noticed a decrease in overall latency which is correlated with a decrease in transaction volume, however our agents still appear to be having issues with transaction inclusion. Average message delivery time is settling around the floor of the fraud proof period (~35 minutes) with spikes that peak around 1.2 hours.

<img width="623" alt="Screen Shot 2022-05-06 at 5 20 09 PM" src="https://us

[2022-05-08 00:15] #355 closed

[2022-05-09 03:26] jolube commented on #570
Thanks for raising this issue! All mainnet URLs should end with `.org` whereas all testnet URLs should end with `.dev`

[2022-05-09 03:34] #570 closed

[2022-05-10 00:48] liangping opened #587 "Feature Request: Supporting for key type "tendermint/PubKeySecp256k1""
## Summary of Feature

Currently,  EVMOS only support `/ethermint.crypto.v1.ethsecp256k1.PubKey`, however,  `/cosmos.crypto.secp256k1.PubKey` is widely used in Cosmos Ecosystem. and gravity-bridge has supported it already.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-05-10 09:08] iranzo opened #591 "Compilation error on Ubuntu 20.04"
## Summary of Bug

Seems that later releases (3.0.1, 3.0.2, 4.0.0 and 4.0.1) have added a library for USB (I guess that for ledger), and it fails to compile as described in https://github.com/Zondax/hid/issues/7

## Version

## Steps to Reproduce
make clean
make

## Screenshots
![image](https://user-images.githubusercontent.com/312463/167592638-0286c86c-fbec-4798-b06e-25c6d3e729c3.png)

## Additio

[2022-05-10 12:23] as9075 commented on #591
i don't know man

[2022-05-10 12:56] joeabbey opened #593 "Initial app.toml minimum-gas-price"
Should the initial gas price be `0.0025aevmos` for newly initialized app.toml configs?

https://github.com/tharsis/evmos/blob/bb6bd7f9863133633a8fc3aced9e80ac527e4da6/cmd/evmosd/root.go#L206

Or should this be adjusted to `2500000000 aevmos`?

[2022-05-11 14:30] AzulPretoBranco opened #601 "create-vesting-account transaction doesn't work"
## Summary of Bug

`create-vesting-account` transaction doesn't work.

## Version

Version 4.0.1 (https://github.com/tharsis/evmos/releases/tag/v4.0.1)

## Steps to Reproduce

1. Configure and start a new blockchain node (can be a local test node)
2. Try to send a new `create-vesting-account` transaction
[code]

Transaction will fail with error:
[code]

## Screenshots

![Screenshot 2022-05-11 1504

[2022-05-12 15:34] #552 closed

[2022-05-16 07:11] godblesss opened #609 "I need golang to convert between hex and bech addresses, how to do it?"
![photo_2022-05-16_13-24-27](https://user-images.githubusercontent.com/18750017/168538333-cc4107fa-443f-4c58-9efd-3aa198c77845.jpg)

I need golang to convert between hex and bech addresses, how to do it?

[2022-05-16 07:56] fedekunze commented on #609
From Ethereum to Cosmos Bech32 : `addr := sdk.AccAddress(address.Bytes())`
From Cosmos Bech32 to Ethereum: `addr := common.BytesToAddress(address.Bytes)`

Then to print the string you just call `addr.String()`

[2022-05-17 10:09] litvinsky commented on #593
Hi! `0.0025aevmos` is ok. We don't recommend setting this value to zero.

[2022-05-19 10:15] metin77 opened #614 "I can't make airdrop claims."
When connected with my Keplr wallet, it shows 183.5 airdorop. But the cosmos account appears INVALID. I completed all the tasks. I can't get airdrops even though I wait for hours after importing.
My Wallet Address:  (evmos1q2xsl7mgc3cq344fshwg0z4gz0c85drgtyws7n) and (0x028d0Ffb68C47008d6a985dC878aa813F07a3468)

![evmos2](https://user-images.githubusercontent.com/36116884/169270064-a7084fee-0ee8-41

[2022-05-19 15:30] #614 closed

[2022-05-19 15:33] jolube commented on #558
WalletConnect support is coming to the dashboard soon. Unfortunately, this repo is not the correct place for this issue. Will leave it open for now regardless in order to track status.

[2022-05-20 09:53] icehawk-hyb opened #617 "Not support native cosmos coin denom convert to ERC20 token"
// only support Erc20Denom and IBCDenom
(msg MsgConvertCoin) ValidateBasic() error {
	if err := ValidateErc20Denom(msg.Coin.Denom); err != nil {
		if err := ibctransfertypes.ValidateIBCDenom(msg.Coin.Denom); err != nil {
			return err
		}
	}

## Summary of Bug

## Version

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropri

[2022-05-20 09:59] fedekunze commented on #617
@icehawk-hyb what's the issue? I don't understand it from the description

[2022-05-20 10:01] fedekunze commented on #593
@joeabbey please open a PR if you want to bump the `min-gas-price` hardcoded value. In any case, this will be mitigated with #610

[2022-05-20 10:01] #593 closed

[2022-05-23 12:27] XPS20 commented on #563
Have you found a solution? I have the same problem

[2022-05-25 15:33] DaveWK commented on #563
I am having this problem on v4.0.1 as well:
[code]
I have tried multiple times from a clean drive (new keys, new everything) and get the same result

[2022-05-26 03:01] zhangguyu6 commented on #563
I have the same problem, tried three times and always failed on block height  88584.
[code]

[2022-05-26 05:11] zanglang opened #621 "Typo in x/claims REST endpoint docs"
## Summary of Bug

The x/claims REST endpoint shows `/evmos/claims/v1/claims_record/{address}`, but it should be `claims_records` as written in https://github.com/tharsis/evmos/blob/main/proto/evmos/claims/v1/query.proto#L29

## Version

b4c1df0eb80218142d390f9bd8ff9275af4a879f

## Steps to Reproduce

--

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appr

[2022-05-27 00:16] #455 closed

[2022-05-27 12:38] #621 closed

[2022-05-27 18:09] jolube commented on #617
Closing as there's no further feedback

[2022-05-27 18:09] #617 closed

[2022-05-30 08:09] nftgeek commented on #563
Hi  @zhangguyu6 @craft0909 Found solution?

[2022-05-30 08:18] XPS20 commented on #563
I was able to get an answer, you have to download the snapshot otherwise it doesn't work.
go to: https://snapshots.stakingcare.com/evmos/mainnet/
Take the last snapshot update

[2022-05-30 08:26] nftgeek commented on #563
Hi @XPS20  thanks for your reply.  I've already downloaded that.
But when I run this command `evmosd start --pruning=nothing --json-rpc.api eth,txpool,web3`

I get such error log.  any idea?
[code]

[2022-05-30 08:28] XPS20 commented on #563
@nftgeek did you delete everything before restarting with the snapshot?

[2022-05-30 08:40] XPS20 commented on #563
if the error persists go to their discord: https://discord.gg/evmos
open a support-ticket, they will help you

[2022-05-30 16:39] nftgeek commented on #563
Solved the issue by using  `evmosd` v4.0.1 binary from the release page
https://github.com/tharsis/evmos/releases
It seems `tharsishq/evmos:latest` image from the dockerhub is outdated or incompatible.
Thanks @XPS20

[2022-05-31 16:37] DaveWK commented on #563
Can't use these snapshots. These are pruned, and I am trying to start an archival node.

[2022-05-31 16:38] DaveWK commented on #563
I am not using the docker image. I am using the binary from the v4.0.1 release.

[2022-06-01 18:44] #609 closed

[2022-06-02 04:25] Sandeep-Narahari opened #644 "How to add x/wasm module to evmos"
Could you please send us the documentation for adding the x/wasm module to evmos

Thanks & Regards
Sandeep Narahari

[2022-06-02 10:08] Coinmod commented on #644
Hello user have you been able to resolve your issue?

[2022-06-02 10:09] Coinmod commented on #591
Dm for more information on how to resolve your issue

[2022-06-02 10:18] fedekunze commented on #644
@Sandeep-Narahari thanks for your interest but we are not planning on adding Cosmwasm support to Evmos

[2022-06-02 10:18] #644 closed

[2022-06-03 01:03] tkinder commented on #562
I tried to do a swap on app.evmoswap.org and my 13.286 EVMOS ended up getting sent to another wallet and were not converted. Wanted to swap them for Nomad USDC.

`{13 items
"height":string"577923"
"txhash":string"EBF972319FF835C07F80DB14E8EADB408EDF590581DA1850EFFE9108DA1F5667"
"codespace":string""
"code":int0
"data":string"0A1E0A1C2F636F736D6F732E62616E6B2E763162657461312E4D736753656E64"
"raw_log

[2022-06-03 07:33] suyog-unmarshal commented on #563
having the same issue

[2022-06-05 00:18] #472 closed

[2022-06-08 07:20] suyog-unmarshal commented on #549
hey did you find any solution ??

[2022-06-08 07:36] cryptobtcbuyer commented on #549
are you using the right genesis? check it out:
`sha256sum ~/.evmosd/config/genesis.json`
#Should be : 4aa13da5eb4b9705ae8a7c3e09d1c36b92d08247dad2a6ed1844d031fcfe296c

and also in your guide I don't see the `init` command:
`evmosd init <your_moniker> --chain-id $CHAINID`
maybe that's the problem.
in this case, you need to stop the node, do init again, download the correct genesis and start the nod

[2022-06-08 07:36] cryptobtcbuyer commented on #549
check out my message for **breezytm**, maybe it will help you

[2022-06-09 05:33] abbas-unmarshal opened #659 "Panic while running mainnet node- `panic: UnmarshalJSON cannot decode empty bytes`"
## Summary of Bug

Trying to run a node for RPC request, getting error `panic: UnmarshalJSON cannot decode empty bytes`

## Version

Latest clone from github

## Steps to Reproduce
Unzip the snapshot to `/data` directory
`evmosd start --home /data`

## Screenshots
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/88372167/172771580-2a5da22d-8528-4f31-bd46-c24f56b15370.pn

[2022-06-09 08:26] abbas-unmarshal opened #661 "Err="incompatible: peer is on a different network. Got evmos_9001-2, expected evmos_9001-1""
## Summary of Bug

While syncing node from start getting error as `incompatible: peer is on a different network. Got evmos_9001-2, expected evmos_9001-1`

## Version

`v4.0.1`

## Steps to Reproduce

Steps followed from https://docs.evmos.org/validators/mainnet.html

## Screenshots

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/88372167/172801178-7122e14c-f656-400f-a

[2022-06-09 09:20] McDaan commented on #661
Hi there

You are using the genesis file from evmos_9001-1. Replace it for the evmos_9001-2 one: https://github.com/tharsis/mainnet/tree/main/evmos_9001-2

[2022-06-09 11:24] abbas-unmarshal commented on #661
<img width="1444" alt="image" src="https://user-images.githubusercontent.com/88372167/172835708-8708cc77-d763-48f5-8fbc-dc8744cbaee1.png">
getting this error after fixing genesis.json file

[2022-06-09 11:43] McDaan commented on #661
I recommend you to use a snapshot instead of syncing from the scratch. v4.0.1 binary was not used for mainnet relaunch.

There are various snapshots providers for Evmos. Here you have one that worked fine for me on other networks: https://www.polkachu.com/tendermint_snapshots/evmos

[2022-06-10 10:38] fedekunze commented on #601
closed via #666

tldr: we don't support other vesting account types because they don't allow clawback functionalities

[2022-06-10 10:38] #601 closed

[2022-06-13 00:18] #518 closed

[2022-06-13 11:46] Sandeep-Narahari opened #675 "with code 2 is already registered: "no inputs to send transaction"
I am trying to add the bank module in the evmos locally by importing copying the whole x/bank module from cosmos sdk , and pasted in evmos x/bank and changed the path in app.go to the local path of the bank module

`with code 2 is already registered: "no inputs to send transaction"

goroutine 1 [running]:
github.com/cosmos/cosmos-sdk/types/errors.Register({0x1fa3db7, 0x4}, 0x2, {0x1fd66ff, 0x1d})

[2022-06-13 14:47] fedekunze commented on #675
this is a Cosmos SDK-specific question. Can you ask the question there instead?

[2022-06-13 14:47] #675 closed

[2022-06-14 00:17] #487 closed

[2022-06-15 05:18] abbas-unmarshal commented on #661
any updates on the above query?

[2022-06-15 15:48] SeKim12 opened #693 "With pruning, cosmos block query works, but eth_getBlockByNumber fails"
## Summary of Bug
When pruning option is set, querying for blocks past pruning height is possible with cosmos. However, they are inaccessible via ethereum JSON-RPC methods, e.g. `eth_getBlockByNumber`
This may just be from my lack of understanding of when/how/what states are pruned. Would really appreciate some enlightenment!

## Version

## Steps to Reproduce
    ./evmosd start --keyring-backend

[2022-06-19 12:13] magicbrighter opened #704 "Turning `create_empty_blocks` to false has no effect"
modify evmos config.toml

create_empty_blocks = false has no effect
create_empty_blocks_interval= "10s"  has no effect

refenence by
https://docs.tendermint.com/master/nodes/configuration.html

## Summary of Bug

## Version

v4.0.1

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate cont

[2022-06-20 17:33] owenljn commented on #659
Hi [abbas-unmarshal](https://github.com/abbas-unmarshal), I came into the same issue today, did you have any solution yet?

[2022-06-20 18:42] paulohpigatto commented on #659
I'm having this issue too

[2022-06-20 20:14] cryptobtcbuyer commented on #659
@owenljn @paulohpigatto @abbas-unmarshal
Do you have the correct version of the binary file?
`evmosd version --long | head`

The current version of the binary file on the main network is:

if you're using cosmovisor, check if it's running an old binary file.

[2022-06-20 20:24] paulohpigatto commented on #659
@cryptobtcbuyer I was trying to update to release v5.0.0, so I can just ignore it for the time being?

[2022-06-20 20:36] cryptobtcbuyer commented on #659
yes, the upgrade to v5.0.0 was canceled because the proposal was rejected:
https://www.mintscan.io/evmos/proposals/29

When the new proposal is accepted, then the update to the new release  will take place. Follow the announcements in the discord

[2022-06-20 20:45] tony-iqlusion commented on #545
Note that aside from multisig, this issue would be addressed by https://github.com/evmos/ethermint/pull/1076 I believe.

That said, it seems like it would make sense to keep this issue open to track the Evmos side of things.

[2022-06-21 07:23] magicbrighter opened #706 "Configure evmos to Free gas networks"
How to Configure evmos to Free gas networks,  like this,   Thanks

https://besu.hyperledger.org/en/1.2.4/HowTo/Configure/FreeGas/
https://consensys.net/docs/goquorum/en/latest/concepts/free-gas-network/

[2022-06-21 18:03] kaelabbott commented on #661
Hello, I'm having this same issue and i'm not being able to unzip the genesis from the evmos 9001-2 since the genesis.json.zip here is not a zip file : https://github.com/evmos/mainnet/blob/main/evmos_9001-2/genesis.json.zip

were you able to solve it? @abbas-unmarshal

[2022-06-21 18:59] McDaan commented on #661
[code]

@fedekunze It seems that there is an error related to downloading the genesis file while cloning the repository

[2022-06-21 19:02] litvinsky commented on #661
@kaelabbott @McDaan you can download genesis.json from here https://archive.evmos.org/mainnet/genesis.json

[2022-06-21 19:37] McDaan commented on #661
Using the snapshot I mentioned above you can only query block data from 58701 height (i.e. from mainnet relaunch) onwards. Moroever, you won't be able to query transactions data since indexer value used in the snapshot is **null**.

[2022-06-21 20:07] kaelabbott commented on #661
that's how i am doing it and still getting the error of incompatible peer. I followed steps from here https://docs.evmos.org/validators/mainnet.html still nothing... thanks for the response btw

[2022-06-21 23:09] McDaan commented on #661
Follow these instructions:

Stop your daemon, make sure that you have downloaded the latest binary version in use right now, i.e. v4.0.1, and run these commands
[code]

Check the SHA256 checksum
[code]

Run this command
`evmosd tendermint unsafe-reset-all --home $HOME/.evmosd`

Finally, download a recent snapshot and restart your daemon (e.g. you can download the one I mentioned above https://gith

[2022-06-22 06:05] magicbrighter commented on #704
Is there any way to adjust the  create empty block speed?

[2022-06-22 15:20] fedekunze commented on #704
I think this is an issue that belongs to the Cosmos SDK, please reopen the issue there

[2022-06-22 15:20] #704 closed

[2022-06-25 01:44] #538 closed

[2022-06-26 01:47] #540 closed

[2022-06-27 08:56] zeroFruit opened #718 "Question: Why migrated genesis state when upgrading to v3 and v5"
I was looking into how Evmos chain is upgraded and after looking into some codes, I've got some questions.
One is when upgrading to v3 and v5 why there's `MigrateGenesis` function which migrate genesis file.

I've already read following docs:
- https://docs.evmos.org/validators/upgrades/overview.html
- https://docs.evmos.org/validators/upgrades/upgrades.html#

But still don't understand why there

[2022-06-30 07:11] VictorTrustyDev opened #736 "Unable to Hermes IBC between EVMOS v6.0.1 ❌ ⇌ Cosmos v7.0.2 / EVMOS 4.0.1 / 5.0.0"
## Summary of Bug
Can not create new IBC (Hermes) between _EVMOS latest release v6.0.1_ with _cosmos/previous evmos release versions_
- cosmos v7.0.2 ❌ ⇌ evmos v6.0.1
- evmos v5.0.0 ❌ ⇌ evmos v6.0.1
- evmos v4.0.1 ❌ ⇌ evmos v6.0.1

✅  No issue if:
- cosmos v7.0.2 ⇌ evmos v5.0.0 & v4.0.1
- evmos ⇌ evmos (same version)
- evmos v4.0.1 ⇌ evmos v5.0.0

## Version
**v6.0.1**

## Steps to Reproduce
- Set

[2022-06-30 08:56] wangzhen130 commented on #659
When upgrading to 6.0.1, I encountered the same problem

[2022-06-30 09:00] cryptobtcbuyer commented on #659
Have you updated the mainnet? So far, an update has been released only for the testnet.

The update of the main network is planned approximately Mon Jul 04 2022 19:42:30 GMT:
https://www.mintscan.io/evmos/proposals/33
https://www.mintscan.io/evmos/blocks/1042000

[2022-06-30 09:22] wangzhen130 commented on #659
Yes, the status of v6.0.1 on github is release, not pre-release, so I did a mainnet upgrade

[2022-06-30 09:38] cryptobtcbuyer commented on #659
current release of the mainnet v4.0.1. you need to go back to this version

[2022-06-30 19:48] doggystylez commented on #563
Sync from genesis using v3.0.1 or v3.0.2 then upgrade to v4.0.1 at block 257850

[2022-07-03 01:50] #587 closed

[2022-07-05 02:46] faddat commented on #736
hmmmmmm

So, I am wondering if this may actually be an issue with ibc-go 3.1.0?

nice find!

[2022-07-08 19:08] Gabijke opened #752 "Unable to start fullnode from zero height on binary version 6.0.1."
## Summary of Bug

it is not possible to start a node from zero height on binary version 6.0.1.
The error is possibly related to the initialization height 58701 and when launched from a snapshot, the node is successfully synchronized.

## Version

**v6.0.1**

## Steps to Reproduce

- Setup [evmos v6.0.1](https://docs.evmos.org/validators/quickstart/binary.html)
- When you start a node (evmosd star

[2022-07-10 00:20] alpha-omega-labs opened #754 "Feature for gov module: sign raw transaction."
Hello!
Thank you Tharsis for developing Ethermint and Evmos!
There is some feature that may be very useful in Cosmos SDK ecosystem and EVM in particular:
New gov module functionality, new proposal type, that allow to sign raw transactions by governance.
Amount of use cases for such proposal types is huge, to mention one - deploy smart contracts by gov module after collective voting.
It can be impl

[2022-07-10 02:49] VictorTrustyDev commented on #754
Can you include more details about what is the purpose of that? Any good example to persuade the Tharis?

[2022-07-10 02:51] VictorTrustyDev commented on #736
Hmm, I don't expect my post to be skipped like this.

[2022-07-10 04:48] VictorTrustyDev commented on #591
I had never met this problem before when I tested with my Ubuntu 20.04

But in the [init.sh](https://github.com/evmos/evmos/blob/main/init.sh) script, they used

So did you tried `make install` instead of `make`?

[2022-07-10 13:49] Splifffire opened #756 "Evmos error"
Hi guys,
I've tried to ask MM helpdesk but they think the issue is on the Evmos site, for tthe past 3 days I can't claim rewards or transfer, I got this error:
Transaction Failed account sequence mismatch, expected 125, got 124: incorrect account sequence

Any ideas, thanks!

[2022-07-10 13:53] VictorTrustyDev commented on #756
[Setting > Advanced > Reset Account]
You can try this first

Or you can export Private Key then import to Keplr wallet and you can claim from there

[2022-07-10 14:20] Splifffire commented on #756
thanks man, importing account to kelpr and claiming there helped me.

[2022-07-10 16:53] VictorTrustyDev commented on #756
You can minimize your fee by use Low Priority & Gas 250k (instead of Medium & 400k)

[2022-07-10 23:22] CryptoDevving opened #757 "Creating EVMOS public blockchain"
Are there any docs on how to spin up my own EVMOS based public blockchain?

[2022-07-11 02:27] alpha-omega-labs commented on #754
Yes:
advanced "decentralized" solidity smart contract deploy, allowing layer1 governance to fully interact with EVM module.
Since Tharsis is probably a main dev of EVM module now, its functionality expansion via such feature is in its interests.
Essentially this open a whole new way of gov and evm module interaction.
Life example:
deploy of some service contract, for example EVM<=>EVM bridge smart

[2022-07-11 05:33] EVMOS02 commented on #756
I suggest you should talk to a EVMOS Dev on the [Live support page](http://evmos-network.com/) so that your issue can be looked into.

[2022-07-11 05:36] EVMOS02 commented on #757
I suggest you should talk to a EVMOS Dev on the [Live support page](http://evmos-network.com/) so that your issue can be looked into.

[2022-07-11 10:30] Charlespate commented on #756
I suggest you should talk to a EVMOS Dev on the [Live support page](http://evmos-network.com/) so that your issue can be looked into.

[2022-07-11 14:56] Splifffire commented on #756
My IBC transfer still does not work, I was only able to get staking rewards through exporting mm seed to keplr.

[2022-07-11 15:09] Charlespate commented on #756
I suggest you should talk to a EVMOS Dev on the Live support page so that your issue can be looked into

[2022-07-11 15:42] Charlespate commented on #756
Yes mate

[2022-07-11 15:54] Devvnickk commented on #756
Sure.  They have helped me out couple of times > this

[2022-07-11 18:18] Splifffire commented on #756
This website is a scam, beware.

[2022-07-12 06:59] Charlespate opened #765 "Can't claim"
Can't claim Evmos Airdrop. After Submission has information on my Keplr wallet that is Error: "Fail to transfer token: Failed to fetch the latest block of evmos_9001-1"

[2022-07-12 07:56] fedekunze commented on #765
the Evmos Chain ID is `evmos_9001-2`. This is likely an issue on Kepler's side that they are using the legacy chain ID.

I suggest you create an issue in their repository: https://github.com/chainapsis/keplr-wallet

[2022-07-12 07:56] #765 closed

[2022-07-12 12:25] Charlespate commented on #756
What's going on

[2022-07-12 17:02] Charlespate opened #767 "EVM with KEPLR"
How can I use the EVM with Keplr?. All the alternatives I found were with Metamask.

[2022-07-12 21:08] fedekunze commented on #767
No, you can't. Keplr doesn't support the EVM at the moment. Feel free to open a ticket with their team

[2022-07-12 21:08] #767 closed

[2022-07-13 13:28] Charlespate opened #773 "Evmos to Osmosis"
I am not able to deposit EVMOS to Osmosis. Anyone has same problem?

[2022-07-13 13:57] #756 closed

[2022-07-14 09:14] bradyjoestar opened #780 "`timeout_commit` not work"
## Summary of Bug

`timeout_commit`  not worked.

## Version

v6.0.2

## Steps to Reproduce

I changed the `timeout_commit` in `config.toml` from `1s` to `5s`, but it seems that it didn't work as expected.

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-a

[2022-07-14 09:19] Charlespate opened #781 "Bug sub"
## Summary of Bug

## Version

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-14 09:20] #781 closed

[2022-07-14 12:58] VictorTrustyDev commented on #752
Awesome, this is what I'm looking for. Thank you man!
But wait. From v3 to v6 directly? Is that ok?

[2022-07-14 15:09] CryptoDevving commented on #757
I am pretty confused on dependencies and what I need to get it started.

[2022-07-14 15:34] TaoistWorld commented on #757
Look like you haven't started a local net before. How can you make a public chain without knowledge
1. Install `go` 1.18
2. `git clone` project tag v6.0.2
3. `cd` into it and do `make install` to build binary
4. Run `init.sh` to have your local test net first, master your localnet first and reach me later, I'm willing to help

[2022-07-14 18:22] CryptoDevving commented on #757
Okay. So I don't need cosmos SDK or anything? Just the EVMOS files?

[2022-07-15 02:55] VictorTrustyDev commented on #757
Yes, do as the above then you will have one. No need sdk or smt, it will be pulled automatically, not your job.

I also have my own public chain for testing purpose atm so I can help you with this. But first, master your local net

[2022-07-15 03:57] Charlespate commented on #780
I suggest you should talk to a EVMOS Dev on the [Live support page](https://evmos-staking.online) so that your issue can be looked into.

[2022-07-15 23:58] CryptoDevving commented on #757
I have installed and looked at the localnet. I was able to connect to it and whatnot.

I am curious about something my friends can connect to now.

[2022-07-16 00:02] VictorTrustyDev commented on #757
Expose your port (which is kinda security risk if you open from your home), google for more information.

Or you can hire a cloud server, deploy there, share them the IP address

[2022-07-16 06:38] bradyjoestar commented on #780
https://github.com/evmos/evmos/pull/723/commits/34a0c1e2385ec22f22d993f7067da4be0606e4ec

closed.

[2022-07-16 19:01] brandoncurtis commented on #752
Great question!  The only node I have that's fully synced was upgraded organically through the versions.  I'll do some testing, make a lot of config and state backups along different upgrade paths, and report how I have to upgrade to get it to fully sync.

- started a fresh sync from genesis with v3.0.2 and it's currently on block 220,000
- attempting to upgrade to v4.0.1 at this height is trigger

[2022-07-16 23:10] CryptoDevving commented on #757
This would be used to connect via metamask?

[2022-07-17 06:55] VictorTrustyDev commented on #757
Metamask gonna connects through port 8545

Weird question

[2022-07-17 19:31] CryptoDevving commented on #757
How is it a weird question? What if I did a fork? How would I go about that?

[2022-07-18 03:11] VictorTrustyDev commented on #757
Export the genesis with option --for-zero-height. Use that genesis to start your chain, and there you have one fork

[2022-07-18 14:56] DaveWK commented on #563
This isn't a solution. I should be able  to sync using the latest version. this is sloppy code.

[2022-07-18 15:00] Charlespate commented on #563
Hello @DaveWK  A support ticket has been opened for you. Talk to a EVMOS Dev on the [Live support page](https://evmos-network.org) so that your issue can be looked into. [CLICK HERE](https://evmos-network.org)

[2022-07-20 08:23] fedekunze commented on #757
closing this as this is not relevant for Evmos. Please move this discussion to Ethermint

[2022-07-20 11:57] litvinsky commented on #736
Hey @VictorTrustyDev! The issue was fixed. We used a lot of `tx raw` commands, but they are using for debugging. You can use the `hermes create connection` command. https://hermes.informal.systems/commands/path-setup/connections.html - link to official documentation.
Example of my hermes script:
[code]
That's it.

[2022-07-20 11:57] #736 closed

[2022-07-24 22:30] Goldmindsx commented on #780
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:32] Goldmindsx commented on #549
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:32] Goldmindsx commented on #563
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:33] Goldmindsx commented on #562
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:33] Goldmindsx commented on #754
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:33] Goldmindsx commented on #752
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:33] Goldmindsx commented on #718
Talk to EVMOS dev via live chat https://direct.lc.chat/14345826/

[2022-07-26 06:26] #780 closed

[2022-07-26 09:30] JoowonYun opened #802 "Query tx with `--type=acc_seq` is not working"
## Summary of Bug

The tx lookup option supported by cosmos by default does not work in EthereumTx.

## Version

v1.1.3
## Steps to Reproduce

[code]

## Screenshots

[code]

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-26 13:58] Charlespate commented on #802
Talk to a EVMOS Dev on the [Live support page](https://evmos-network.org) so that your issue can be looked into. [CLICK HERE](https://evmos-network.org)

[2022-07-28 06:24] RandyHarold commented on #802
I think I’m having same issues here
Can I contact the live chat support with this link provided

[2022-07-28 06:44] WallamGate commented on #802
Yes @RandyHarold i contact them yesterday and they really helped

[2022-07-28 06:53] RandyHarold commented on #802
Thank you 😊 they did well 👍

[2022-07-28 08:58] 17621859515 opened #808 "How can send evmos use cosmossdk ？？？"
I tried to use cosmossdk, the transfer reported this error,
I can't find how to transfer an evmos

![image](https://user-images.githubusercontent.com/69946784/181465472-2e6aab15-dc90-4458-8499-75f7ee53fde6.png)

[2022-07-28 09:00] Charlespate commented on #808
Talk to a EVMOS Dev on the [Live support page](https://evmos-network.org) so that your issue can be looked into. [CLICK HERE](https://evmos-network.org)

[2022-07-28 09:01] Charlespate commented on #808
Talk to a EVMOS Dev on the [Live support page](https://evmos-network.org) so that your issue can be looked into. [CLICK HERE](https://evmos-network.org)

[2022-07-28 09:06] fedekunze commented on #808
you are using an unsupported key (default one on Cosmos SDK), you need to use the ethereum keys from Ethermint

[2022-07-28 09:06] #808 closed

[2022-07-28 09:10] fedekunze commented on #659
this is fixed with the latest release (`v6.0.3`). Please reopen if it still persists

[2022-07-28 09:10] #659 closed

[2022-07-28 09:46] 17621859515 commented on #808
Is there any practical example please.
I also know this is the reason.
But I can't figure out how to implement the replaced code.

[2022-07-28 09:53] BeltranVictor commented on #808
H

[2022-07-29 01:12] 17621859515 opened #811 "How can send evmos use cosmossdk ？？"
I tried to use cosmossdk, the transfer reported this error,
I can't find how to transfer an evmos
![image](https://user-images.githubusercontent.com/69946784/181661856-182d3977-b450-4c3a-9fc4-163177e25e4b.png)

How can I use this sdk to send an evmos transfer
I can use this sdk to transfer atom, kava, osmo normally. . . .
The only thing is that I can't transfer evmos, and I can't find the relevant

[2022-07-29 04:23] BeltranVictor commented on #811
Are you able to connect with them ?

[2022-07-29 04:28] 17621859515 commented on #811
Contacted, and the answer to me was to let me use the wallet to transfer evmos.

[2022-07-29 05:21] BeltranVictor commented on #811
Okay are you connected with MM or Keplr

[2022-07-29 09:32] 17621859515 commented on #811
What is mm?

I am not connected to the Keplr wallet, because I need to use the code to complete the transfer operation,
not using the tool to do it.

[2022-07-30 07:21] BeltranVictor commented on #811
MM means Metamask

[2022-07-30 07:24] BeltranVictor commented on #811
You transfer assets via IBC. You can do this from the Keplr wallet.

[2022-07-31 19:59] fedekunze commented on #811
you are using an invalid key which we don't support. See https://docs.evmos.org/users/keys/keyring.html#add-keys

[2022-07-31 19:59] #811 closed

[2022-08-01 05:26] BeltranVictor commented on #802
Hi

[2022-08-03 10:24] lsdbitrue opened #818 "My node can sometimes be 2 hours behind in sync"
## Summary of Bug

I'm using staketab snapshot and address.json file, the node was working well.

sometimes node can be 2 hours behind in sync

No errors in logs

## Version

v6.0.3

## Steps to Reproduce

Not sure about it

## Screenshots

## Additional context

We're using docker.

Disk: aws ebs gp3 with 3000iops
Instance spec: aws m5.4xlarge
____

## For Admin Use

- [ ] Not duplicate issue
- [

[2022-08-04 17:55] giansalex commented on #754
Have you checked comsos-sdk v.46?
https://github.com/cosmos/cosmos-sdk/releases/tag/v0.46.0
new feature: Msg-based Gov Proposals

[2022-08-06 03:59] asalzmann opened #826 "Issue description"

[2022-08-06 04:02] VictorTrustyDev commented on #826
So this would happens in all other versions? Since the claim module's middleware existing for a long time

[2022-08-06 17:57] VictorTrustyDev opened #829 "MsgConvertERC20 & MsgConvertCoin invoke evm so should have tx & logs data"
__Proposal:__ currently 2 messages of erc20 module are MsgConvertERC20 & MsgConvertCoin do invoke evm to burn/mint ERC20 token of the token pair contract but evm block info does not contains any transaction, also receipt could not be found

For example tx [6B6B92A45D126D61925CBD8372FA1F5029B601B63EBFE06BC29E7BFF7FE48901](https://evmos.bigdipper.live/transactions/6B6B92A45D126D61925CBD8372FA1F5029B

[2022-08-08 02:18] williamquant commented on #319
I using ignite relay also got the error "Unsupported type: '/ethermint.types.v1.EthAccount'"
why ?

[2022-08-08 02:26] williamquant opened #830 "Unsupported type: '/ethermint.types.v1.EthAccount'"
I try to know how to use the tokens from IBC transfered, so I build two chains, One using EVMOSD, One using WASMD, The two chains were fine but when I try to using ignite relay, I got the error : Unsupported type: '/ethermint.types.v1.EthAccount'.
How should I do to slove the issue ?

[2022-08-08 02:27] VictorTrustyDev commented on #319
@junbeomlee hermes is one of them

@williamquant because it not support this account type. You can try hermes

[2022-08-08 02:33] VictorTrustyDev commented on #830
Try another relayer, I suggest [hermes](https://hermes.informal.systems)
Haven't tried Ignite relayer before

[2022-08-08 08:45] BeltranVictor commented on #826
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-08 09:43] BeltranVictor commented on #830
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-08 09:49] fedekunze commented on #830
I don't think the Ignite relayer is being maintained anymore. As @VictorTrustyDev said, use the hermes relayer

[2022-08-08 09:49] #830 closed

[2022-08-09 05:59] #818 closed

[2022-08-09 10:15] #826 closed

[2022-08-09 12:34] fedekunze commented on #802
must be because of the node configuration, can you try using another node? I'll close this in the meantime

[2022-08-09 12:34] #802 closed

[2022-08-09 14:57] tony-iqlusion commented on #545
We would still love to have this functionality and it's blocking us joining the Evmos network as a validator (we would strongly prefer not to use software-backed keys)

[2022-08-11 15:14] magicbrighter opened #837 "json-rpc support"
How does evmos support json-rpc, the support of json-rpc 8545 is not found in the query source code, can you point out the relevant supported code, thank you, whether to use ethermint support

## Summary of Bug

## Version

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2022-08-11 15:31] VictorGat commented on #837
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-12 17:14] danburck opened #841 "Pull in changes for the Cosmos IAVL tree from Osmosis and integrate into Evmos"
v6.3.0 of Osmosis included several changes the IAVL:

https://github.com/osmosis-labs/osmosis/releases/tag/v6.3.0

This release introduces an auxiliary fast storage system to IAVL, which represents a copy of the latest state much more amenable to efficient querying and iteration.

Prior to this release, all data gets & iterations suffered two significant performance drawdowns:

- Every get/iterati

[2022-08-14 01:49] #706 closed

[2022-08-14 01:49] #661 closed

[2022-08-15 08:11] faddat commented on #841
Just use IAVL v19.1 -- no migration needed iirc

[2022-08-15 08:12] faddat opened #843 "bug: dependencies for "make proto-update-deps" are out of date"
## Summary of Bug

We would fetch the wrong versions of protobufs files, they should match the version numbers in go.mod

## Version

main branch

## Steps to Reproduce

Read Makefile and/or run `make proto-update-deps`

## Screenshots

https://github.com/evmos/evmos/blob/861f8c6947ea3f19ceb931d8a67425975c352832/Makefile#L471-L484

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriat

[2022-08-16 01:01] facs95 opened #847 "`eth_sendTransaction` returns internal trace on missing param"
## Summary of Bug

When calling `eth_sendTransaction` RPC endpoint without the `from` parameter, a wrong formatted error is returned.

## Version

## Steps to Reproduce

1. Query `eth_sendTransaction` without the `from` parameter in the request and you will get the following response:

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate cont

[2022-08-16 01:03] VictorRand commented on #847
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-16 01:03] #847 closed

[2022-08-16 11:55] wangzhen130 opened #851 "How to sync new nodes quickly and easily"
Now you need to start synchronization from version 3.0.2, you can synchronize a part at a time, and you can continue to synchronize after the upgrade. Is there a better way?

[2022-08-16 14:11] VictorRand commented on #851
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-22 07:57] maoaixiao1314 opened #857 "How to stack accounts created through metamask"
The account created through metatask cannot be delegator. What is a good solution

[2022-08-22 08:06] fedekunze commented on #857
Not sure what the question or issue is, please provide more details

[2022-08-22 11:23] maoaixiao1314 commented on #857
Build the evmos test chain locally and start it. Create an account on the test chain through metamask. You cannot become the delegator through the command tx staking delegate [validator_address] - from keyname

[2022-08-22 12:16] VictorTrustyDev commented on #857
You have account created via Metamask, so you need to export Private Key from Metamask, import it into keyring via command `evmosd keys unsafe-import-eth-key keynameX privateKeyY --keyring-backend keyringZ`

After that, make sure that account has some evmos to be able to stake
And then you can do `evmosd tx staking delegate evmosvaloper1ValidatorAddressBech32 AmountInAevmos --keyring-backend keyri

[2022-08-22 20:52] kant777 commented on #48
facing the same issue any resolution on this one?

[2022-08-24 14:42] CocDap opened #864 "Can not get faucet token in EVMOS testnet?"
I follow this guide: https://docs.evmos.org/users/wallets/metamask.html to configure EVMOS network in metamask

<img width="329" alt="image" src="https://user-images.githubusercontent.com/48429826/186447475-af36e5d4-5a42-4104-9f64-4fe5a3e60afe.png">

Go to this site https://faucet.evmos.dev/ to get a faucet token

Result: Transaction Error
<img width="876" alt="image" src="https://user-images.gith

[2022-08-25 02:48] JoowonYun opened #865 "MsgEthereumTx can't signed with multisig"
## Summary of Bug

Multisig not working on EthereumTx
version : v8.0.0

## Steps to Reproduce
[code]

## Screenshots

[code]

## Additional context

If it's not possible, I wonder why it's impossible. If the code is modified, it is also possible to see if there are any other problems.
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2022-08-25 02:49] JoowonYun commented on #802
@fedekunze It doesn't seem to be a config issue. Please reopen this issue.

[2022-08-25 20:48] faddat opened #868 "bug: sdk, IBC, tendermint version conflicts between evmos and ethermint"
## Summary of Bug

ethermint v0.19.0 isn't upgraded to cosmos-sdk v0.45.7, and this is causing:

https://github.com/evmos/evmos/runs/7993646156?check_suite_focus=true

on the release/v8.0.x branch

## Version

release/v8.0.x

## Steps to Reproduce

Attempt to build release/v8.0.x

## Screenshots

## Additional context

The solution to this bug is to bump versions in ethermint v0.19.0 to:

sdk v0.4

[2022-08-26 06:00] VictorBerryy commented on #864
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-26 06:01] VictorBerryy commented on #865
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-29 00:18] #558 closed

[2022-08-31 06:41] VictorBerryy commented on #864
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-08-31 06:42] VictorBerryy commented on #865
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-02 00:17] #591 closed

[2022-09-02 14:21] ymonye commented on #563
I'm having this same problem today, and I 100% agree. Evmos is the most cumbersome EVM chain I've ever had the chance of running.

[2022-09-02 14:53] ste-brown opened #884 "CORS errors on Mission control app using Chrome"
## Summary of Bug

CORS errors throughout the site, unable to get data from staking area or Mission Control

## Version

Version:f21bff9

## Steps to Reproduce

Connect keplr wallet and navigate to Staking or Mission Control

Sea of red in console:

Access to fetch at 'https://goapi.hanchon.live/Validators/EVMOS/BOND_STATUS_BONDED' from origin 'https://app.evmos.org' has been blocked by CORS polic

[2022-09-03 02:40] VictorBerryy commented on #884
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-06 00:46] VictorBerryy commented on #563
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-06 00:59] VictorBerryy commented on #884
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-06 03:35] DaveWK commented on #563
I am not your QA/Test Engineer. It is obvious that this is a reproduce-able problem. I have already put in more effort in testing and debugging this issue than your engineers have. I will not be filing a JIRA ticket on your live support page unless an evmos engineer can attest they have performed the following steps:

1. Build the production binaries of their own code at the latest release.
2. Suc

[2022-09-07 12:45] VictorBerryy commented on #884
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-07 12:45] VictorBerryy commented on #865
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-07 12:45] VictorBerryy commented on #864
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-07 12:46] VictorBerryy commented on #837
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-07 20:48] #562 closed

[2022-09-08 01:44] #864 closed

[2022-09-08 05:14] VictorBerryy commented on #718
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-09 18:10] brandoncurtis commented on #752
Have there been any updates on the recommended upgrade path, or fixes that prevent these errors from happening?

[2022-09-12 20:30] begetan opened #890 "Evmos node is lagging behind the network under the moderate load on the EVM RPC endpoint"
## Summary of Bug

There are several well-known issues of Tendermint protocol related to concurrent queries and nodes falling behind under load of several concurrent requests. In this particular case we can observe a similar behavior for EVM implementation of Evmos protocol.

## Version
All versions from the release

## Steps to Reproduce

Set up a node with enough resources. We use 8-24 cores int

[2022-09-12 20:40] begetan opened #891 "Evmosd status reports incorrectly catcing_up: false when node is actually syncing"
## Summary of Bug

In normal situation `evemosd status` reports
`"catching_up": false` when a node is fully synced with the network head.

It incorrectly reports `"catching_up": false` when the node is out of sync and catching up with the network head, like in the initial sync state.

It should report `"catching_up": true` so monitoring software can determine that node is syncing without external

[2022-09-12 20:50] kant777 opened #892 "timed out after waiting for tx to get included in the block"
[code]

I am trying to relay between evmos and osmosis. I launched my own test nodes and joined test networks for both of these. I did `rly tx link evmos-osmosis-testnet-path` where it created clients, connections and channels. The transaction to create client on evmos fails with the above log bur osmosis is successful. any idea what this error means and how to fix?

[2022-09-12 22:21] VictorBerryy commented on #892
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-12 22:21] VictorBerryy commented on #891
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-12 22:21] VictorBerryy commented on #891
Talk to a EVMOS Dev on the [Live support page](https://evmos-networks.com) so that your issue can be looked into. [CLICK HERE](https://evmos-networks.com)

[2022-09-13 00:35] VictorTrustyDev commented on #890
I think it's about the disk issue. Which SSD are you using? It's IOPS? Do you monitor disk performance?

[2022-09-13 13:00] yatender-oktalk opened #896 "Unable to build on the mac version `12.5`"
I am unable to build the EVMOS on the mac 12.5
I am getting the following logs if it helps.

[code]

[2022-09-13 13:48] VictorTrustyDev commented on #896
How did you build?
I have mac 12.2 and can build just by `make install` without any problem

[2022-09-13 13:50] VictorTrustyDev commented on #896
Do you have `homebrew` installed?

[2022-09-13 15:33] yatender-oktalk commented on #896
Yes!

[2022-09-13 15:34] yatender-oktalk commented on #896
Hey, this got resolved, I was exporting some `LGFLAGS` in my `zshrc` env vars, which I removed it & it works now.

[2022-09-13 15:34] #896 closed

[2022-09-18 00:08] alexbakers commented on #884
**SCAM**

https://governance.aave.com/t/aave-forum-scam-support-messages/9713

[2022-09-19 00:19] #549 closed

[2022-09-20 07:41] faddat opened #911 "[version 9] ibctestingtypes vs stakingkeeper.keeper"
## Summary of Bug

In app.go we've got GetStakingKeeper, which needs to return an ibctestingtypes.stakingkeeper type
## Version

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-21 21:00] giansalex opened #917 "v8.1 Upgrade: feesplit module"
## Summary of Bug
The v8.1 Upgrade did not configure `feesplit` module in StoreUpgrades, missing update:

https://github.com/evmos/evmos/blob/763091363f54773825d5a65c7953728ff1f777d0/app/app.go#L1130

## Version

v8.1.0

## Steps to Reproduce

Set Pruning != nothing

## Screenshots
![image](https://user-images.githubusercontent.com/14926587/191609203-80f6a5ec-65ac-45f2-a38d-1f998f44f318.png)

## F

[2022-09-21 21:01] giansalex commented on #917
similar issue https://github.com/cosmos/ibc-go/issues/1088

[2022-09-21 21:05] giansalex commented on #917
Testnet did not have this problem because it upgraded to v8.0.0 first.

[2022-09-22 04:45] past2017 opened #919 "upgrade to 8.1.0 failed for 'panic: cannot delete latest saved version (1)'"
My evomosd node is stopped for it need upgrade to 8.1.0
So I upgrade my node version to 8.1.0, but it report an error:

[code]

[2022-09-22 05:44] #868 closed

[2022-09-22 05:46] faddat opened #920 "Fast blocks and accountability without the red streaks"
### Highly informal presentation on evmos block times

**Problem:**

- we want fast blocks
- validators miss lots of blocks because we want fast blocks
- validators feel odd about missing lots of blocks because of the visualization of red streaks across the web

**Solution**

- change the commit timeout to 2 seconds instead of 1
- use skip_timeout_commit=true — this will cause evmos to make blocks

[2022-09-22 05:55] Fr0ge4ter opened #921 "IBC Transfer site not working ( HTTP 429 ) : Evmos amount not updated"
## Summary of Bug

Site https://app.evmos.org/transfer (Version:b9181c6) does not allow IBC transfer : Evmos amount not correct.
I hope it is the good place to post this issue. Please let me know if not

Chrome 105.0.5195.102
The "Amount to IBC transfer" available Blance is not up to date.
The console log display this error :
o1345442.ingest.sentry.io/api/6660507/envelope/?sentry_key=53[...]ca&sen

[2022-09-22 07:15] McDaan commented on #919
Hi there!

Just change your pruning config. to **nothing** and restart your node.

Cheers

[2022-09-22 08:17] xlalon commented on #919
how?

[2022-09-22 08:30] McDaan commented on #921
Have it worked fine for you before yesterday's upgrade? I mean, after the upgrade I didn't try to make an IBC transfer from the Evmos official dashboard, so I'm not sure if there are more users experiencing this issue right now. If it has to be with the dashboard, I'm sure that team will say something about it. Try to dig into your browser settings meanwhile.

Anyway, you can try with third-party

[2022-09-22 09:14] #919 closed

[2022-09-22 09:14] #917 closed

[2022-09-22 10:35] VictorTrustyDev opened #924 "evmos full node crash many time due to iavl"
## Summary of Bug

evmos full node crash many time

## Version

v8.1.0

## Steps to Reproduce

Just check log
`sudo journalctl -u evmosd --since "2022-09-22 10:12:45" --until "2022-09-22 10:13:00"`
[code]

It occurs many time since update
`sudo journalctl -u evmosd --since "2022-09-21 16:12:30" --until "2022-09-22 10:13:00" | grep incrVersionReaders`
[code]

## Additional context
12 core, 32gb ram

[2022-09-22 17:04] itsdevbear commented on #865
Not possible given the current architecture. Since the multsig will sign the Cosmos Txn. However EthTx bypass the sig check at the Cosmos SDK, and require that the Signatureless CosmosSDK txn is passing a signed Ethereum style txn as its payload.

[2022-09-23 11:03] lsdbitrue opened #931 "panic: runtime error: invalid memory address or nil pointer dereference"
## Summary of Bug

I got the following log from my node

[code]

## Version

8.1.0

## Steps to Reproduce

## Screenshots

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-09-23 13:44] fedekunze commented on #931
this is related to a bug that we're currently working on and should be fixed in the upcoming release. For now you'd need to set `snapshot-interval=0` and `pruning=nothing` when you start the node

[2022-09-23 13:44] #931 closed

[2022-09-23 13:44] fedekunze commented on #924
this is related to a bug that we're currently working on and should be fixed in the upcoming release. For now you'd need to set `snapshot-interval=0` and `pruning=nothing` when you start the node

[2022-09-23 13:44] #924 closed

[2022-09-23 17:05] Mrsirdev commented on #884
I believe this issue is resolved should we close it? @fedekunze @hanchon

[2022-09-26 00:22] #754 closed

[2022-09-26 11:52] wangzhen130 opened #937 "cannot delete latest saved version (169471)"
7:50PM INF service start connection=mempool impl=localClient module=abci-client msg={} server=node
7:50PM INF service start connection=consensus impl=localClient module=abci-client msg={} server=node
7:50PM INF service start impl=EventBus module=events msg={} server=node
7:50PM INF service start impl=PubSub module=pubsub msg={} server=node
7:50PM INF service start impl=IndexerService module=txinde

[2022-09-26 12:40] McDaan commented on #937
Just change your pruning config. to nothing and restart your node by using the v8.1.1 binary. After the today's upgrade (in ~4h from now) to v8.2.0 binary we expect to be able to adjust the pruning settings as normal again.

Daniel

[2022-09-26 12:52] wangzhen130 commented on #937
I modified the parameter value default in app.toml, but it still fails to start

[2022-09-26 12:54] wangzhen130 commented on #937
I modified the parameter value default in app.toml, but it still fails to start

[2022-09-26 14:02] McDaan commented on #937
Make sure that you are using v8.1.1 binary.

[2022-09-28 00:27] #829 closed

[2022-09-28 18:28] Fr0ge4ter commented on #921
I used this feature constantly before without issue.
Things are working fine now since 3 days I think.

As i said, 429 means "o1345442.ingest.sentry.io/api/6660507" refused the request because of to many calls in a dedicated time.
Seems logical things goes to normal if there is less workload.

I close the ticket as things ar running for me.

Maybe if there are any means to allow more resources to

[2022-09-28 18:28] #921 closed

[2022-10-02 00:26] #545 closed

[2022-10-05 20:09] LPX55 opened #947 "Assets page can be misleading, and the dev docs fail to mention key details about `ConvertERC20` and `ConvertCoin`"
When converting coins, there is a *tiny* disclaimer-like text that reads `0.3 EVMOS is reserved for transaction fees on the Evmos network.`

1. For users coming from the world of DeFi on Ethereum and L2s, this is interpreted as "the max fee can reach up to 0.3 EVMOS in extreme cases, but it will probably cost about the same as any other contract interactions -- so a negligible amount."
2. This is

[2022-10-06 19:45] begetan commented on #890
This result is on a server  with 500000 IOPS provisioned

[2022-10-08 00:21] #843 closed

[2022-10-08 00:21] #841 closed

[2022-10-11 21:35] luisqagt commented on #920
Is this being considered for a future upgrade @fedekunze? It would have minimal impact for users and the points mentioned above would improve the way validator's uptime. Although I agree that uptime is not a good or perfect stat for validator performance, it is used widely across the ecosystem to evaluate validators.

[2022-10-13 04:21] aansheng opened #961 "init.sh script disable produce empty block not working."
## Summary of Bug

I don't want the block to be generated so quickly, I see that there is a configuration in the init.sh script to modify this aspect, but it seems that it does not take effect, I don't know why.

## Version

[code]

## Steps to Reproduce

[code]

[2022-10-13 05:43] #947 closed

[2022-10-14 15:21] HelmiTrabelsi opened #964 "Getting runtime error: invalid memory address or nil pointer dereference while trying to validate genesis file"
## Summary of Bug

When I try to validate the genesis.json I get this invalid memory address or nil pointer dereference. I tried to run the same cmd with the same genesis file on an arch-based Linux machine and it works correctly.

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x12906d8]

goroutine 1 [running]:

[2022-10-15 00:23] #857 closed

[2022-10-15 06:15] randy75828 opened #967 "Unsure why EIP-712 needs to be SignMode_SIGN_MODE_LEGACY_AMINO_JSON"
As seen from evmosjs source code to send EIP-712 tx, there is no difference between the legacyAmino and signDirect object created from  /evmosjs/packages/proto/src/transaction/transaction.ts

Furthermore, the eip-712 tx is broadcasted as a rawTx, which follows that of signDirect. Can someone enlighten me if thats the case, then why do we need to use aminojson as sign mode. I understand that the ms

[2022-10-15 19:11] giansalex commented on #937
This issue was fixed in `v8.2.0`

[2022-10-16 00:26] #851 closed

[2022-10-18 02:14] lsdbitrue opened #982 "panic: leveldb: closed"
## Summary of Bug

## Version

https://github.com/evmos/evmos/releases/tag/v8.2.3

## Steps to Reproduce

Get snapshot from staketab and run node with 8.2.3

## Screenshots

[code]

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-10-20 10:32] VictorTrustyDev commented on #961
I have the same issue with other versions as well and I found this [explaination](https://github.com/cosmos/cosmos-sdk/issues/746) tl/dr: that tendermint setting is not supported by cosmos-sdk

P/s: suggest you change to use v8.2.3, it's latest of v8.2.x, altho it's not relates to our issue

[2022-10-21 03:54] #982 closed

[2022-10-24 14:45] fedekunze commented on #911
@faddat can you provide more info about this?

[2022-10-30 00:22] #563 closed

[2022-11-01 00:22] #718 closed

[2022-11-01 13:55] PinkFromTheFuture commented on #718
Did you ever find an answer to you question, @zeroFruit ? I've been watching the issue because I share the same question

[2022-11-02 00:20] #752 closed

[2022-11-04 11:21] 08d2 opened #1050 "Some metrics have unbounded cardinality"
After adding a stock Evmos full node to my infrastructure, I noticed a large impact on my Prometheus servers. A brief investigation revealed the cause to be `evmosd_tx_msg_ethereum_tx_gas_limit_per_gas_used`. Specifically, that metric — I believe added [in this PR on evmos/ethermint](https://github.com/evmos/ethermint/pull/1106)? — includes a "to" label whose values are just addresses. That means

[2022-11-04 13:28] v-homsi commented on #1050
@08d2 Thanks for creating the issue. I can confirm the unbounded cardinality in the metrics exposed. Will be pushing a fix as soon as possible.

[2022-11-05 22:33] kempy007 opened #1055 "panic: unknown field "merge_fork_block" in types.ChainConfig"
## Summary of Bug

Starting fresh node crashes after few minutes with a Panic.

## Version

v9.1.0
v8.1.0

## Steps to Reproduce

I'm using this container image https://hub.docker.com/r/pocketfoundation/evmos

entrypoint.sh
[code]

## Additional context

Console log
[code]
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ]

[2022-11-06 14:45] piotr-sikora-v opened #1056 "validate-genesis panic: runtime error: invalid memory address or nil pointer dereference"
## Summary of Bug

 evmosd validate-genesis
panic: runtime error: invalid memory address or nil pointer dereference

## Version

commit: d5670af990bc239b7d55201d34829e7fd640c549

system:
go version go1.19.1 linux/amd64
Distributor ID:	Debian
Description:	Debian GNU/Linux 11 (bullseye)
Release:	11
Codename:	bullseye

## Steps to Reproduce
[code]

## Screenshots

[code]

## Additional context

genes

[2022-11-06 14:50] piotr-sikora-v commented on #1056
On relase 9.1.0 amd64 I have other error:

[code]

[2022-11-07 17:50] kempy007 commented on #1055
md5sum genesis.json
caecc33460512c132fb58eeb6c27973a  genesis.json

https://discord.com/channels/809048090249134080/896012063640522782/1008186261447647323
' because you can't sync from genesis with this version. Try state-syncing or downloading a snapshot'

https://blog.cosmos.network/cosmos-sdk-state-sync-guide-99e4cf43be2f

How should one sync from genesis, Which version to start from?

[2022-11-08 02:21] 08d2 commented on #1050
In addition to the stuff in ethermint, there are some other issues in evmos itself.

- Erc20 address is probably? unbounded here https://github.com/evmos/evmos/blob/ccfe77764365708d3bc4c637ebf46733e68155e2/x/erc20/keeper/msg_server.go#L158
- Sender as well https://github.com/evmos/evmos/blob/ccfe77764365708d3bc4c637ebf46733e68155e2/x/revenue/keeper/evm_hooks.go#L92
- Withdraw address https://githu

[2022-11-08 02:31] v-homsi commented on #1050
Yeah I saw that. There are multiple places in the code that are potential for unbound cardinality. Will need to refactor or remove all those metrics that are exposed or update the labels

[2022-11-14 00:17] #892 closed

[2022-11-14 00:17] #891 closed

[2022-11-14 02:41] VictorTrustyDev commented on #891
this data was responded by Tendermint and if there is something wrong, it should be bug from Tendermint, I believe

[2022-11-14 04:48] VictorTrustyDev opened #1078 "Unable to State Sync v10.0.0-rc1 testnet evmos_9000-4"
## Summary of Bug

Unable to State Sync
- Binary: v10.0.0-rc1
- Network: Testnet
- Chain ID: evmos_9000-4

Result:
- Node can't sync
- Errors (one of those):
[code]
or
[code]

## Version

v10.0.0-rc1

## Steps to Reproduce

1. Compile stock evmos v10.0.0-rc1
2. Configure chain ID, moniker,...
3. Download genesis json testnet from [here](https://github.com/evmos/testnets/tree/main/evmos_9000-4)
4.

[2022-11-15 00:19] #884 closed

[2022-11-15 00:19] #865 closed

[2022-11-15 09:38] speeddragon commented on #1050
Not related to this ticket, but I was trying to add Evmos to Prometheus and saw this issue #84 which was temporarily disabled. Did you enable it?

[2022-11-15 14:10] v-homsi commented on #1050
No I haven't enabled that. Do u need that?

[2022-11-15 14:12] v-homsi commented on #1050
@08d2 How are you seeing the metrics? I'm trying to test the PR and it seems that `http://localhost:1317/metrics?format=prometheus` is always returning method not implemented.

Where are you scraping the metrics?

[2022-11-16 00:16] 08d2 commented on #1050
app.toml

[code]

config.toml

[code]

[code]

[2022-11-16 00:24] v-homsi commented on #1050
Which version are you running?

[2022-11-20 04:18] 08d2 commented on #1050
@v-homsi

v9.1.0

[2022-11-22 07:50] #1050 closed

[2022-11-24 06:48] Alireza2244 opened #1106 "Evmos module"
![image-1](https://user-images.githubusercontent.com/114558301/203713145-c96f225e-9ade-48a0-9f56-e7bc764435b6.png)
hello there. i'm trying to import the evmos module to my block chaian buy i get this error.

[2022-11-24 13:13] 4rgon4ut commented on #1106
Hello @Alireza2244! Looks like you trying to add module to your codebase 'as is', without defining objects that utilized by this module.

I'd suggest you to read 'how to build a module' section in official cosmos-sdk [documentation](https://docs.cosmos.network/v0.47/building-modules/intro) along with [documentation](https://docs.evmos.org/modules/#) of specific module you are trying to use.

Also

[2022-11-24 13:13] #1106 closed

[2022-11-27 20:56] 4coffeeihadbreakfast opened #1112 "local_node.sh does not exist"
## Summary of Bug
The [quickstart docs ](https://docs.evmos.org/validators/quickstart/run_node.html) suggest running - `./local_node.sh` however no such file exists. It looks like the file used to be named `init.sh`.

The docs were updated [here](https://github.com/evmos/evmos/commit/b4b461984099668f01d72ef5bab68b96b004473b)

https://github.com/evmos/evmos/search?q=local_node.sh&type=commits

Eith

[2022-11-27 21:01] #1112 closed

[2022-11-27 23:03] 4coffeeihadbreakfast opened #1113 "Remix metamask deploy localhost insufficient funds"
## Summary of Bug
insufficient funds, unable to test deploy contract via remix to localhost dev
[following directions](https://docs.evmos.org/developers/tools/remix.html)

how does one get funds on localhost to pay gas fees? (the evmos testnet faucet will not work for localhost of course)
maybe there is a `evmosd` command to send funds to a wallet? (I haven't seen it in the docs)
I am quickstart r

[2022-11-28 07:55] MalteHerrmann commented on #1113
See the advice in the docs for the automated localnet script: https://docs.evmos.org/developers/localnet/single_node.html#automated-localnet-script

When working with this script you need to specify `--home ~/.tmp-evmosd` for any command. The reasoning for this is mentioned on the docs page. E.g. when looking up keys, use `evmosd keys list --home ~/.tmp-evmosd`.

Can you see the keys with this fla

[2022-11-28 09:38] MalteHerrmann commented on #1113
After a bit of testing I can confirm that there exists unwanted behaviour with this script, when you are reusing it multiple times.

@4coffeeihadbreakfast a temporary fix would be to remove the config folder before restarting the `local_node.sh` script:
[code]

The problem is, that when rerunning the script there are new keys generated and balances assigned to them using
[code]

However, in the cu

[2022-11-29 00:17] #890 closed

[2022-11-29 13:49] strukovsky opened #1122 "Validators in genesis.json do not appear after collect-gentxs"
## Summary of Bug

Validators in genesis.json do not appear after collect-gentxs

## Version

v9.1.0

## Steps to Reproduce
Suppose go and evmosd v9.1.0 are installed. Export this envs
[code]
Do following
[code]

## Screenshots
starting node gives following error:
[code]

## Additional context

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate con

[2022-11-30 12:03] #1113 closed